In [36]:
import numpy as np
import pandas as pd

In [37]:
df = pd.read_csv('mt_cars.csv')
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,NaN,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245.0,NaN,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95.0,NaN,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,NaN,123.0,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,NaN,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,NaN,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,NaN,8,275.8,180.0,NaN,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,NaN,3.07,NaN,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,NaN,NaN,NaN,NaN,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,NaN,NaN,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,NaN,52.0,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,NaN,NaN,1.835,NaN,1,1,4,1
20,Toyota Corona,21.5,4,120.1,NaN,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,NaN,150.0,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,NaN,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,NaN,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,NaN,91.0,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,NaN,8,NaN,264.0,4.22,NaN,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175.0,3.62,NaN,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,NaN,109.0,NaN,2.780,18.60,1,1,4,2

In [38]:
df.shape

(32, 12)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
model    32 non-null object
mpg      27 non-null float64
cyl      32 non-null int64
disp     24 non-null float64
hp       25 non-null float64
drat     26 non-null float64
wt       28 non-null float64
qsec     31 non-null float64
vs       32 non-null int64
am       32 non-null int64
gear     32 non-null int64
carb     32 non-null int64
dtypes: float64(6), int64(5), object(1)
memory usage: 3.1+ KB

In [40]:
df.isnull()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,True,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,True,False,False,False,False,False,False
9,False,False,False,True,False,False,False,False,False,False,False,False
10,False,False,False,False,True,False,False,False,False,False,False,False
11,False,False,False,False,True,False,False,False,False,False,False,False
12,False,True,False,False,False,True,False,False,False,False,False,False
13,False,False,False,False,True,False,True,False,False,False,False,False
14,False,False,False,True,True,True,True,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,True,True,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,True,False,False,False,False,False,False,False,False
19,False,False,False,False,True,True,False,True,False,False,False,False
20,False,False,False,False,True,False,False,False,False,False,False,False
21,False,False,False,True,False,False,False,False,False,False,False,False
22,False,True,False,False,False,False,False,False,False,False,False,False
23,False,True,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,True,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False
28,False,True,False,True,False,False,True,False,False,False,False,False
29,False,False,False,False,False,False,True,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,False,False
31,False,False,False,True,False,True,False,False,False,False,False,False

In [41]:
df.isnull().sum()

model    0
mpg      5
cyl      0
disp     8
hp       7
drat     6
wt       4
qsec     1
vs       0
am       0
gear     0
carb     0
dtype: int64

In [42]:
round(100*df.isnull().sum()/len(df),2)

model     0.00
mpg      15.62
cyl       0.00
disp     25.00
hp       21.88
drat     18.75
wt       12.50
qsec      3.12
vs        0.00
am        0.00
gear      0.00
carb      0.00
dtype: float64

In [43]:
df.drop('disp',axis =1,inplace=True)
df

,model,mpg,cyl,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,110.0,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,110.0,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,93.0,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,110.0,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,NaN,8,175.0,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,105.0,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,245.0,NaN,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,62.0,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,95.0,NaN,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,123.0,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,NaN,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,NaN,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,NaN,8,180.0,NaN,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,NaN,3.07,NaN,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,NaN,NaN,NaN,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,215.0,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,NaN,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,66.0,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,52.0,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,NaN,NaN,1.835,NaN,1,1,4,1
20,Toyota Corona,21.5,4,NaN,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,150.0,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,NaN,8,150.0,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,NaN,8,245.0,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,175.0,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,66.0,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,91.0,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,113.0,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,NaN,8,264.0,4.22,NaN,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,175.0,3.62,NaN,15.50,0,1,5,6
30,Maserati Bora,15.0,8,335.0,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,109.0,NaN,2.780,18.60,1,1,4,2

In [44]:
df.drop('hp',axis =1,inplace=True)
df

                  model   mpg  cyl  drat     wt   qsec  vs  am  gear  carb
0             Mazda RX4  21.0    6  3.90  2.620  16.46   0   1     4     4
1         Mazda RX4 Wag  21.0    6  3.90  2.875  17.02   0   1     4     4
2            Datsun 710  22.8    4  3.85  2.320  18.61   1   1     4     1
3        Hornet 4 Drive  21.4    6  3.08  3.215  19.44   1   0     3     1
4     Hornet Sportabout   NaN    8  3.15  3.440  17.02   0   0     3     2
5               Valiant  18.1    6  2.76  3.460  20.22   1   0     3     1
6            Duster 360  14.3    8   NaN  3.570  15.84   0   0     3     4
7             Merc 240D  24.4    4  3.69  3.190  20.00   1   0     4     2
8              Merc 230  22.8    4   NaN  3.150  22.90   1   0     4     2
9              Merc 280  19.2    6  3.92  3.440  18.30   1   0     4     4
10            Merc 280C  17.8    6  3.92  3.440  18.90   1   0     4     4
11           Merc 450SE  16.4    8  3.07  4.070  17.40   0   0     3     3
12           Merc 450SL   NaN    8   NaN  3.730  17.60   0   0     3     3
13          Merc 450SLC  15.2    8  3.07    NaN  18.00   0   0     3     3
14   Cadillac Fleetwood  10.4    8   NaN    NaN  17.98   0   0     3     4
15  Lincoln Continental  10.4    8  3.00  5.424  17.82   0   0     3     4
16    Chrysler Imperial  14.7    8  3.23  5.345  17.42   0   0     3     4
17             Fiat 128  32.4    4  4.08  2.200  19.47   1   1     4     1
18          Honda Civic  30.4    4  4.93  1.615  18.52   1   1     4     2
19       Toyota Corolla  33.9    4   NaN  1.835    NaN   1   1     4     1
20        Toyota Corona  21.5    4  3.70  2.465  20.01   1   0     3     1
21     Dodge Challenger  15.5    8  2.76  3.520  16.87   0   0     3     2
22          AMC Javelin   NaN    8  3.15  3.435  17.30   0   0     3     2
23           Camaro Z28   NaN    8  3.73  3.840  15.41   0   0     3     4
24     Pontiac Firebird  19.2    8  3.08  3.845  17.05   0   0     3     2
25            Fiat X1-9  27.3    4  4.08  1.935  18.90   1   1     4     1
26        Porsche 914-2  26.0    4  4.43  2.140  16.70   0   1     5     2
27         Lotus Europa  30.4    4  3.77  1.513  16.90   1   1     5     2
28       Ford Pantera L   NaN    8  4.22    NaN  14.50   0   1     5     4
29         Ferrari Dino  19.7    6  3.62    NaN  15.50   0   1     5     6
30        Maserati Bora  15.0    8  3.54  3.570  14.60   0   1     5     8
31           Volvo 142E  21.4    4   NaN  2.780  18.60   1   1     4     2

In [45]:
df[df.isnull().sum(axis=1)==2].shape

(4, 10)

In [50]:
df[df.isnull().sum(axis=1)==2]

                 model   mpg  cyl  drat     wt   qsec  vs  am  gear  carb
12          Merc 450SL   NaN    8   NaN  3.730  17.60   0   0     3     3
14  Cadillac Fleetwood  10.4    8   NaN    NaN  17.98   0   0     3     4
19      Toyota Corolla  33.9    4   NaN  1.835    NaN   1   1     4     1
28      Ford Pantera L   NaN    8  4.22    NaN  14.50   0   1     5     4

In [11]:
df1 = df[np.isnan(df['mpg'])]
df1

                model  mpg  cyl  drat     wt   qsec  vs  am  gear  carb
4   Hornet Sportabout  NaN    8  3.15  3.440  17.02   0   0     3     2
12         Merc 450SL  NaN    8   NaN  3.730  17.60   0   0     3     3
22        AMC Javelin  NaN    8  3.15  3.435  17.30   0   0     3     2
23         Camaro Z28  NaN    8  3.73  3.840  15.41   0   0     3     4
28     Ford Pantera L  NaN    8  4.22    NaN  14.50   0   1     5     4

In [12]:
df2 = df[np.isnan(df['drat'])]
df2

                 model   mpg  cyl  drat     wt   qsec  vs  am  gear  carb
6           Duster 360  14.3    8   NaN  3.570  15.84   0   0     3     4
8             Merc 230  22.8    4   NaN  3.150  22.90   1   0     4     2
12          Merc 450SL   NaN    8   NaN  3.730  17.60   0   0     3     3
14  Cadillac Fleetwood  10.4    8   NaN    NaN  17.98   0   0     3     4
19      Toyota Corolla  33.9    4   NaN  1.835    NaN   1   1     4     1
31          Volvo 142E  21.4    4   NaN  2.780  18.60   1   1     4     2

In [13]:
df3 = df[np.isnan(df['wt'])]
df3

                 model   mpg  cyl  drat  wt   qsec  vs  am  gear  carb
13         Merc 450SLC  15.2    8  3.07 NaN  18.00   0   0     3     3
14  Cadillac Fleetwood  10.4    8   NaN NaN  17.98   0   0     3     4
28      Ford Pantera L   NaN    8  4.22 NaN  14.50   0   1     5     4
29        Ferrari Dino  19.7    6  3.62 NaN  15.50   0   1     5     6

In [14]:
# df[~np.isnan(df['qsec'])] to delete row wise
df4 = df[np.isnan(df['qsec'])]
df4

             model   mpg  cyl  drat     wt  qsec  vs  am  gear  carb
19  Toyota Corolla  33.9    4   NaN  1.835   NaN   1   1     4     1

In [15]:
round(df['qsec'].mean(),2)

17.78

In [16]:
df['qsec'].fillna(value = round(df['qsec'].mean(),2),inplace = True)

In [17]:
df

                  model   mpg  cyl  drat     wt   qsec  vs  am  gear  carb
0             Mazda RX4  21.0    6  3.90  2.620  16.46   0   1     4     4
1         Mazda RX4 Wag  21.0    6  3.90  2.875  17.02   0   1     4     4
2            Datsun 710  22.8    4  3.85  2.320  18.61   1   1     4     1
3        Hornet 4 Drive  21.4    6  3.08  3.215  19.44   1   0     3     1
4     Hornet Sportabout   NaN    8  3.15  3.440  17.02   0   0     3     2
5               Valiant  18.1    6  2.76  3.460  20.22   1   0     3     1
6            Duster 360  14.3    8   NaN  3.570  15.84   0   0     3     4
7             Merc 240D  24.4    4  3.69  3.190  20.00   1   0     4     2
8              Merc 230  22.8    4   NaN  3.150  22.90   1   0     4     2
9              Merc 280  19.2    6  3.92  3.440  18.30   1   0     4     4
10            Merc 280C  17.8    6  3.92  3.440  18.90   1   0     4     4
11           Merc 450SE  16.4    8  3.07  4.070  17.40   0   0     3     3
12           Merc 450SL   NaN    8   NaN  3.730  17.60   0   0     3     3
13          Merc 450SLC  15.2    8  3.07    NaN  18.00   0   0     3     3
14   Cadillac Fleetwood  10.4    8   NaN    NaN  17.98   0   0     3     4
15  Lincoln Continental  10.4    8  3.00  5.424  17.82   0   0     3     4
16    Chrysler Imperial  14.7    8  3.23  5.345  17.42   0   0     3     4
17             Fiat 128  32.4    4  4.08  2.200  19.47   1   1     4     1
18          Honda Civic  30.4    4  4.93  1.615  18.52   1   1     4     2
19       Toyota Corolla  33.9    4   NaN  1.835  17.78   1   1     4     1
20        Toyota Corona  21.5    4  3.70  2.465  20.01   1   0     3     1
21     Dodge Challenger  15.5    8  2.76  3.520  16.87   0   0     3     2
22          AMC Javelin   NaN    8  3.15  3.435  17.30   0   0     3     2
23           Camaro Z28   NaN    8  3.73  3.840  15.41   0   0     3     4
24     Pontiac Firebird  19.2    8  3.08  3.845  17.05   0   0     3     2
25            Fiat X1-9  27.3    4  4.08  1.935  18.90   1   1     4     1
26        Porsche 914-2  26.0    4  4.43  2.140  16.70   0   1     5     2
27         Lotus Europa  30.4    4  3.77  1.513  16.90   1   1     5     2
28       Ford Pantera L   NaN    8  4.22    NaN  14.50   0   1     5     4
29         Ferrari Dino  19.7    6  3.62    NaN  15.50   0   1     5     6
30        Maserati Bora  15.0    8  3.54  3.570  14.60   0   1     5     8
31           Volvo 142E  21.4    4   NaN  2.780  18.60   1   1     4     2

In [18]:
df['wt'].fillna(value = 26,inplace = True)

In [19]:
round(df['mpg'].mean(),2)

20.84

In [20]:
df['mpg'].fillna(value = round(df['mpg'].mean(),2),inplace = True)

In [21]:
df

                  model    mpg  cyl  drat      wt   qsec  vs  am  gear  carb
0             Mazda RX4  21.00    6  3.90   2.620  16.46   0   1     4     4
1         Mazda RX4 Wag  21.00    6  3.90   2.875  17.02   0   1     4     4
2            Datsun 710  22.80    4  3.85   2.320  18.61   1   1     4     1
3        Hornet 4 Drive  21.40    6  3.08   3.215  19.44   1   0     3     1
4     Hornet Sportabout  20.84    8  3.15   3.440  17.02   0   0     3     2
5               Valiant  18.10    6  2.76   3.460  20.22   1   0     3     1
6            Duster 360  14.30    8   NaN   3.570  15.84   0   0     3     4
7             Merc 240D  24.40    4  3.69   3.190  20.00   1   0     4     2
8              Merc 230  22.80    4   NaN   3.150  22.90   1   0     4     2
9              Merc 280  19.20    6  3.92   3.440  18.30   1   0     4     4
10            Merc 280C  17.80    6  3.92   3.440  18.90   1   0     4     4
11           Merc 450SE  16.40    8  3.07   4.070  17.40   0   0     3     3
12           Merc 450SL  20.84    8   NaN   3.730  17.60   0   0     3     3
13          Merc 450SLC  15.20    8  3.07  26.000  18.00   0   0     3     3
14   Cadillac Fleetwood  10.40    8   NaN  26.000  17.98   0   0     3     4
15  Lincoln Continental  10.40    8  3.00   5.424  17.82   0   0     3     4
16    Chrysler Imperial  14.70    8  3.23   5.345  17.42   0   0     3     4
17             Fiat 128  32.40    4  4.08   2.200  19.47   1   1     4     1
18          Honda Civic  30.40    4  4.93   1.615  18.52   1   1     4     2
19       Toyota Corolla  33.90    4   NaN   1.835  17.78   1   1     4     1
20        Toyota Corona  21.50    4  3.70   2.465  20.01   1   0     3     1
21     Dodge Challenger  15.50    8  2.76   3.520  16.87   0   0     3     2
22          AMC Javelin  20.84    8  3.15   3.435  17.30   0   0     3     2
23           Camaro Z28  20.84    8  3.73   3.840  15.41   0   0     3     4
24     Pontiac Firebird  19.20    8  3.08   3.845  17.05   0   0     3     2
25            Fiat X1-9  27.30    4  4.08   1.935  18.90   1   1     4     1
26        Porsche 914-2  26.00    4  4.43   2.140  16.70   0   1     5     2
27         Lotus Europa  30.40    4  3.77   1.513  16.90   1   1     5     2
28       Ford Pantera L  20.84    8  4.22  26.000  14.50   0   1     5     4
29         Ferrari Dino  19.70    6  3.62  26.000  15.50   0   1     5     6
30        Maserati Bora  15.00    8  3.54   3.570  14.60   0   1     5     8
31           Volvo 142E  21.40    4   NaN   2.780  18.60   1   1     4     2

In [22]:
round(df['drat'].mean(),2)

3.6

In [23]:
df['drat'].fillna(value = round(df['drat'].mean(),2),inplace = True)

In [24]:
df

                  model    mpg  cyl  drat      wt   qsec  vs  am  gear  carb
0             Mazda RX4  21.00    6  3.90   2.620  16.46   0   1     4     4
1         Mazda RX4 Wag  21.00    6  3.90   2.875  17.02   0   1     4     4
2            Datsun 710  22.80    4  3.85   2.320  18.61   1   1     4     1
3        Hornet 4 Drive  21.40    6  3.08   3.215  19.44   1   0     3     1
4     Hornet Sportabout  20.84    8  3.15   3.440  17.02   0   0     3     2
5               Valiant  18.10    6  2.76   3.460  20.22   1   0     3     1
6            Duster 360  14.30    8  3.60   3.570  15.84   0   0     3     4
7             Merc 240D  24.40    4  3.69   3.190  20.00   1   0     4     2
8              Merc 230  22.80    4  3.60   3.150  22.90   1   0     4     2
9              Merc 280  19.20    6  3.92   3.440  18.30   1   0     4     4
10            Merc 280C  17.80    6  3.92   3.440  18.90   1   0     4     4
11           Merc 450SE  16.40    8  3.07   4.070  17.40   0   0     3     3
12           Merc 450SL  20.84    8  3.60   3.730  17.60   0   0     3     3
13          Merc 450SLC  15.20    8  3.07  26.000  18.00   0   0     3     3
14   Cadillac Fleetwood  10.40    8  3.60  26.000  17.98   0   0     3     4
15  Lincoln Continental  10.40    8  3.00   5.424  17.82   0   0     3     4
16    Chrysler Imperial  14.70    8  3.23   5.345  17.42   0   0     3     4
17             Fiat 128  32.40    4  4.08   2.200  19.47   1   1     4     1
18          Honda Civic  30.40    4  4.93   1.615  18.52   1   1     4     2
19       Toyota Corolla  33.90    4  3.60   1.835  17.78   1   1     4     1
20        Toyota Corona  21.50    4  3.70   2.465  20.01   1   0     3     1
21     Dodge Challenger  15.50    8  2.76   3.520  16.87   0   0     3     2
22          AMC Javelin  20.84    8  3.15   3.435  17.30   0   0     3     2
23           Camaro Z28  20.84    8  3.73   3.840  15.41   0   0     3     4
24     Pontiac Firebird  19.20    8  3.08   3.845  17.05   0   0     3     2
25            Fiat X1-9  27.30    4  4.08   1.935  18.90   1   1     4     1
26        Porsche 914-2  26.00    4  4.43   2.140  16.70   0   1     5     2
27         Lotus Europa  30.40    4  3.77   1.513  16.90   1   1     5     2
28       Ford Pantera L  20.84    8  4.22  26.000  14.50   0   1     5     4
29         Ferrari Dino  19.70    6  3.62  26.000  15.50   0   1     5     6
30        Maserati Bora  15.00    8  3.54   3.570  14.60   0   1     5     8
31           Volvo 142E  21.40    4  3.60   2.780  18.60   1   1     4     2

In [25]:
round(df['wt'].mean(),2)

6.0

In [26]:
df['wt'].fillna(value = round(df['wt'].mean(),2),inplace = True)

In [27]:
df

                  model    mpg  cyl  drat      wt   qsec  vs  am  gear  carb
0             Mazda RX4  21.00    6  3.90   2.620  16.46   0   1     4     4
1         Mazda RX4 Wag  21.00    6  3.90   2.875  17.02   0   1     4     4
2            Datsun 710  22.80    4  3.85   2.320  18.61   1   1     4     1
3        Hornet 4 Drive  21.40    6  3.08   3.215  19.44   1   0     3     1
4     Hornet Sportabout  20.84    8  3.15   3.440  17.02   0   0     3     2
5               Valiant  18.10    6  2.76   3.460  20.22   1   0     3     1
6            Duster 360  14.30    8  3.60   3.570  15.84   0   0     3     4
7             Merc 240D  24.40    4  3.69   3.190  20.00   1   0     4     2
8              Merc 230  22.80    4  3.60   3.150  22.90   1   0     4     2
9              Merc 280  19.20    6  3.92   3.440  18.30   1   0     4     4
10            Merc 280C  17.80    6  3.92   3.440  18.90   1   0     4     4
11           Merc 450SE  16.40    8  3.07   4.070  17.40   0   0     3     3
12           Merc 450SL  20.84    8  3.60   3.730  17.60   0   0     3     3
13          Merc 450SLC  15.20    8  3.07  26.000  18.00   0   0     3     3
14   Cadillac Fleetwood  10.40    8  3.60  26.000  17.98   0   0     3     4
15  Lincoln Continental  10.40    8  3.00   5.424  17.82   0   0     3     4
16    Chrysler Imperial  14.70    8  3.23   5.345  17.42   0   0     3     4
17             Fiat 128  32.40    4  4.08   2.200  19.47   1   1     4     1
18          Honda Civic  30.40    4  4.93   1.615  18.52   1   1     4     2
19       Toyota Corolla  33.90    4  3.60   1.835  17.78   1   1     4     1
20        Toyota Corona  21.50    4  3.70   2.465  20.01   1   0     3     1
21     Dodge Challenger  15.50    8  2.76   3.520  16.87   0   0     3     2
22          AMC Javelin  20.84    8  3.15   3.435  17.30   0   0     3     2
23           Camaro Z28  20.84    8  3.73   3.840  15.41   0   0     3     4
24     Pontiac Firebird  19.20    8  3.08   3.845  17.05   0   0     3     2
25            Fiat X1-9  27.30    4  4.08   1.935  18.90   1   1     4     1
26        Porsche 914-2  26.00    4  4.43   2.140  16.70   0   1     5     2
27         Lotus Europa  30.40    4  3.77   1.513  16.90   1   1     5     2
28       Ford Pantera L  20.84    8  4.22  26.000  14.50   0   1     5     4
29         Ferrari Dino  19.70    6  3.62  26.000  15.50   0   1     5     6
30        Maserati Bora  15.00    8  3.54   3.570  14.60   0   1     5     8
31           Volvo 142E  21.40    4  3.60   2.780  18.60   1   1     4     2

In [28]:
df.isnull().sum()

model    0
mpg      0
cyl      0
drat     0
wt       0
qsec     0
vs       0
am       0
gear     0
carb     0
dtype: int64

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
model    32 non-null object
mpg      32 non-null float64
cyl      32 non-null int64
drat     32 non-null float64
wt       32 non-null float64
qsec     32 non-null float64
vs       32 non-null int64
am       32 non-null int64
gear     32 non-null int64
carb     32 non-null int64
dtypes: float64(4), int64(5), object(1)
memory usage: 2.6+ KB

In [30]:
df[df['cyl']==6]

             model   mpg  cyl  drat      wt   qsec  vs  am  gear  carb
0        Mazda RX4  21.0    6  3.90   2.620  16.46   0   1     4     4
1    Mazda RX4 Wag  21.0    6  3.90   2.875  17.02   0   1     4     4
3   Hornet 4 Drive  21.4    6  3.08   3.215  19.44   1   0     3     1
5          Valiant  18.1    6  2.76   3.460  20.22   1   0     3     1
9         Merc 280  19.2    6  3.92   3.440  18.30   1   0     4     4
10       Merc 280C  17.8    6  3.92   3.440  18.90   1   0     4     4
29    Ferrari Dino  19.7    6  3.62  26.000  15.50   0   1     5     6

In [31]:
df[df['cyl']==6]['disp'].isnull().fillna(value = df[df['cyl']==6]['disp'].mean(),inplace=True)

KeyError: 'disp'

In [ ]:
df[df['cyl']==6]['disp'].mean()

In [ ]:
df[df['cyl']==6].mean()

In [ ]:
df[df['cyl']==6]

In [ ]:
df[df['cyl']==6]['disp'].isnull()

In [ ]:
df[[]]