In [1]:
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objs as go 
init_notebook_mode(connected=True)
import cufflinks as cf
cf.go_offline()
import plotly_express as px

import pandas_profiling as pp

# for subplots
import plotly.offline as py
py.init_notebook_mode(connected=True)
from plotly.tools import make_subplots

In [2]:
pd.set_option('display.max_columns', 1000)
#pd.set_option('display.max_rows', 200)

In [3]:
QSP_1 = pd.read_csv('BTR QSp1 data.csv')
print(QSP_1.shape)
QSP_1.head()

(3999, 83)

,Nid,Name,Gender,Date of Birth,Fresher/Experience,10th Board,10th Aggregate,10th Year of Pass out,12th Board,12th Course Type,12th/Diploma/ITI Year of Pass out,12th/Diploma/ITI-Aggregate,Diploma Course Type,Diploma College,Other(Diploma College),Diploma Stream,Other(Diploma Stream),Diploma University,Other(Diploma University),Degree,Degree Course Type,Degree Year of Pass out,Degree College Name,Other(Degree College),Degree University,Degree University Registration No,Degree Aggregate,Stream in Degree,Other(Degree Stream),Have you done your Master's Degree?,Master's Degree,Master's Degree Course Type,Other(Master's degree),Master's Degree Year of Pass out,Master Degree Aggregate,Master Degree College Name,Other(Master's College),Master's Degree Stream,Other(Master's Stream),Master's Degree University,Master's Degree University Registration No,Branch Enquired,Certifications,Course(s),Do You Have Pan Card?,Do You Have Passport?,Other(certifications),Ready to Relocate,Already Resigned,Currently Are You Working,Do You Have Past Work Experience?,Highest Degree,How Many Months of Gap You Have?,Looking For a Job Change,Notice Period,Other(Highest Degree),Current/ Previous Company Name,Current/ Previous CTC,Current/ Previous Job Profiles,Balance_Fees,Other(Degree University),Other(Degree),Other(Master's University),Other(preferred location),Target_fees,Preferred Location,Photo,UID,Do You Have Aadhar Card?,Native,State,City,Did You Fail and then clear the subject in Degree,Did You Fail and then clear the subject in Master Degree,Have any existing backlogs in Degree?,Have any existing backlogs in Master's Degree?,Have you got year gap in Degree?,Have you got year gap in Master Degree?,Batch,nid_incubation,Payment Print/Display,Payment comments,Post date
0,108714,M S Ramasubramanya,male,11/05/1993,Fresher,SSLC,50.00,2009.0,Diploma,NaN,2013.0,76.77,regular,Other,OXFORD POLYTECHNIC,Civil,NaN,NaN,NaN,BE,Regular,2017.0,Bangalore Institute of Technology,NaN,Visveshvariah Technological University (VTU),1BI14CV418,69.67,Civil,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,QSP-Basavanagudi,NaN,Classic Selenium,no,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,Immediate,NaN,NaN,NaN,NaN,23950,NaN,NaN,NaN,NaN,23950.0,Bangalore,http://192.168.1.199/sites/default/files/photo...,502D02199000,yes,NaN,Karnataka,BANGALORE,no,NaN,no,NaN,no,NaN,NaN,NaN,NaN,NaN,01/01/2018
1,108715,Satya prakash sahoo,male,26/06/1991,Fresher,SSLC,72.00,2006.0,PUC/ 12th,Regular,2008.0,46.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BSC,Regular,2011.0,Other,S C S College,UTKAL university,12345,56.00,Computer Science(CS),NaN,yes,MCA,Regular,NaN,2015.0,72.0,Other,Krupajal computer Academy,Computer Science,NaN,Other,12345,QSP-Basavanagudi,NaN,Classic Selenium,yes,no,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,Immediate,NaN,NaN,NaN,NaN,23950,NaN,NaN,BPUT,NaN,23950.0,Bangalore,http://192.168.1.199/sites/default/files/photo...,108B08199000,yes,NaN,Karnataka,Bangalore,no,no,no,no,no,no,QCDM2,NaN,NaN,NaN,01/01/2018
2,108727,Shabareesh Kumar R,male,09/01/1991,Fresher,SSLC,84.32,2006.0,PUC/ 12th,Regular,2008.0,70.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BE,Regular,2012.0,Shirdi Sai Engineering College,NaN,Visveshvariah Technological University (VTU),1SB08CS088,68.00,Computer Science(CS),NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,QSP-Basavanagudi,NaN,"Selenium Expert, Project",yes,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,Immediate,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,11900.0,Bangalore,http://192.168.1.199/sites/default/files/photo...,D0F70D199000,yes,NaN,Karnataka,BANGALORE,yes,NaN,no,NaN,no,NaN,"QSSW2,QPEW1",NaN,"11900 - 07-01-2018, 2300 - 11-02-2018",(201802QSP0098) Shabareesh Kumar R with ID:108...,02/01/2018
3,108729,Monima Gogoi,female,21/01/1986,Fresher,SSLC,80.00,2002.0,PUC/ 12th,Regular,2004.0,56.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BE,Regular,2008.0,Acharya Institute of Technology,NaN,Visveshvariah Technological University (VTU),12345,65.00,Information Technology,NaN,yes,M.Tech,Regular,NaN,2011.0,77.0,Other,Adarch college,Information Technology,NaN,Other,12345,QSP-Basavanagudi,NaN,Selenium Expert,yes,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,Immediate,NaN,NaN,NaN,NaN,0,NaN,NaN,Mysore university,NaN,11900.0,Bangalore,http://192.168.1.199/sites/default/files/photo...,715199000,yes,NaN,Assam,Tinsukia,no,no,no,no,no,no,"QCSA2,QSCW1",NaN,11900 - 20-01-2018,(201801QSP0379) Monima Gogoi with ID:108729 ha...,02/01/2018
4,108733,Mohit Singh Chauhan,male,30/07/1995,Fresher,SSLC,84.00,2011.0,PUC/ 12th,Regular,2013.0,70.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BE,Regular,2017.0,Other,MAHAKALA INSTI OF TECH,Rajiv Gandhi Proudyogiki Vishwavidyalaya (R G ...,0704ME131056,65.60,Mechanical(ME),NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,QSP-Basavanagudi,NaN,"Classic Selenium, Aptitude, Technical Aptitude",yes,yes,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,Immediate,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,INDORE,22950.0,"Bangalore,Chennai,Hyderabad,Kerala,Pune,Mumbai...",http://192.168.1.199/sites/default/files/photo...,86A57A2B9000,yes,NaN,Karnataka,BANGALORE,yes,NaN,no,NaN,no,NaN,"QTGW1,QCCE2",NaN,"22950 - 09-01-2018, Target for Apti is 0/-",(201801QSP0264) Mohit Singh Chauhan with ID:10...,02/01/2018

In [4]:
QSP_1.isnull().sum()

Nid                         0
Name                        0
Gender                      0
Date of Birth               0
Fresher/Experience          0
                         ...
Batch                      88
nid_incubation           3999
Payment Print/Display     487
Payment comments          834
Post date                   0
Length: 83, dtype: int64

In [5]:
round(100*QSP_1.isnull().sum()/len(QSP_1),2)

Nid                        0.00
Name                       0.00
Gender                     0.00
Date of Birth              0.00
Fresher/Experience         0.00
                          ...
Batch                      2.20
nid_incubation           100.00
Payment Print/Display     12.18
Payment comments          20.86
Post date                  0.00
Length: 83, dtype: float64

In [6]:
QSP_1.columns[round(100*QSP_1.isnull().sum()/len(QSP_1),2)==100]

Index(['nid_incubation'], dtype='object')

In [7]:
QSP_1.drop('nid_incubation',axis=1,inplace=True)

In [8]:
QSP_1.isnull().sum()[QSP_1.isnull().sum()!=0]

10th Board                                  337
10th Aggregate                              366
10th Year of Pass out                       359
12th Board                                  366
12th Course Type                            636
                                           ...
Have you got year gap in Degree?            369
Have you got year gap in Master Degree?    3621
Batch                                        88
Payment Print/Display                       487
Payment comments                            834
Length: 68, dtype: int64

In [9]:
QSP_1.columns[QSP_1.isnull().sum()!=0]

Index(['10th Board', '10th Aggregate', '10th Year of Pass out', '12th Board',
       '12th Course Type', '12th/Diploma/ITI Year of Pass out',
       '12th/Diploma/ITI-Aggregate', 'Diploma Course Type', 'Diploma College',
       'Other(Diploma College)', 'Diploma Stream', 'Other(Diploma Stream)',
       'Diploma University', 'Other(Diploma University)', 'Degree',
       'Degree Course Type', 'Degree Year of Pass out', 'Degree College Name',
       'Other(Degree College)', 'Degree University',
       'Degree University Registration No', 'Degree Aggregate',
       'Stream in Degree', 'Other(Degree Stream)',
       'Have you done your Master's Degree?', 'Master's Degree',
       'Master's Degree Course Type', 'Other(Master's degree)',
       'Master's Degree Year of Pass out', 'Master Degree Aggregate',
       'Master Degree College Name', 'Other(Master's College)',
       'Master's Degree Stream', 'Other(Master's Stream)',
       'Master's Degree University',
       'Master's Degree University Registration No', 'Certifications',
       'Do You Have Pan Card?', 'Do You Have Passport?',
       'Other(certifications)', 'Already Resigned',
       'Currently Are You Working', 'Do You Have Past Work Experience?',
       'Highest Degree', 'How Many Months of Gap You Have?',
       'Looking For a Job Change', 'Notice Period', 'Other(Highest Degree)',
       'Current/ Previous Company Name', 'Current/ Previous CTC',
       'Current/ Previous Job Profiles', 'Other(Degree University)',
       'Other(Degree)', 'Other(Master's University)',
       'Other(preferred location)', 'Target_fees', 'Preferred Location',
       'Do You Have Aadhar Card?', 'Native',
       'Did You Fail and then clear the subject in Degree',
       'Did You Fail and then clear the subject in Master Degree',
       'Have any existing backlogs in Degree?',
       'Have any existing backlogs in Master's Degree?',
       'Have you got year gap in Degree?',
       'Have you got year gap in Master Degree?', 'Batch',
       'Payment Print/Display', 'Payment comments'],
      dtype='object')

In [10]:
len(list(QSP_1.columns[QSP_1.isnull().sum()!=0]))

68

In [11]:
obj_cols = []
num_cols = []
for i in list(QSP_1.columns[QSP_1.isnull().sum()!=0]):
    if QSP_1[i].dtypes=='object':
        obj_cols.append(i)
    else:
        num_cols.append(i)

print('obj_cols \n',obj_cols,'\n\n')
print('num_cols \n',num_cols)

obj_cols
 ['10th Board', '12th Board', '12th Course Type', 'Diploma Course Type', 'Diploma College', 'Other(Diploma College)', 'Diploma Stream', 'Other(Diploma Stream)', 'Diploma University', 'Other(Diploma University)', 'Degree', 'Degree Course Type', 'Degree College Name', 'Other(Degree College)', 'Degree University', 'Degree University Registration No', 'Stream in Degree', 'Other(Degree Stream)', "Have you done your Master's Degree?", "Master's Degree", "Master's Degree Course Type", "Other(Master's degree)", 'Master Degree College Name', "Other(Master's College)", "Master's Degree Stream", "Other(Master's Stream)", "Master's Degree University", "Master's Degree University Registration No", 'Certifications', 'Do You Have Pan Card?', 'Do You Have Passport?', 'Other(certifications)', 'Already Resigned', 'Currently Are You Working', 'Do You Have Past Work Experience?', 'Highest Degree', 'Looking For a Job Change', 'Notice Period', 'Other(Highest Degree)', 'Current/ Previous Company Name', 'Current/ Previous CTC', 'Current/ Previous Job Profiles', 'Other(Degree University)', 'Other(Degree)', "Other(Master's University)", 'Other(preferred location)', 'Preferred Location', 'Do You Have Aadhar Card?', 'Native', 'Did You Fail and then clear the subject in Degree', 'Did You Fail and then clear the subject in Master Degree', 'Have any existing backlogs in Degree?', "Have any existing backlogs in Master's Degree?", 'Have you got year gap in Degree?', 'Have you got year gap in Master Degree?', 'Batch', 'Payment Print/Display', 'Payment comments']


num_cols
 ['10th Aggregate', '10th Year of Pass out', '12th/Diploma/ITI Year of Pass out', '12th/Diploma/ITI-Aggregate', 'Degree Year of Pass out', 'Degree Aggregate', "Master's Degree Year of Pass out", 'Master Degree Aggregate', 'How Many Months of Gap You Have?', 'Target_fees']

In [12]:
QSP_1[QSP_1.isnull().any(axis=1)].head()[obj_cols]
# QSP_1[obj_cols].head() # or

,10th Board,12th Board,12th Course Type,Diploma Course Type,Diploma College,Other(Diploma College),Diploma Stream,Other(Diploma Stream),Diploma University,Other(Diploma University),Degree,Degree Course Type,Degree College Name,Other(Degree College),Degree University,Degree University Registration No,Stream in Degree,Other(Degree Stream),Have you done your Master's Degree?,Master's Degree,Master's Degree Course Type,Other(Master's degree),Master Degree College Name,Other(Master's College),Master's Degree Stream,Other(Master's Stream),Master's Degree University,Master's Degree University Registration No,Certifications,Do You Have Pan Card?,Do You Have Passport?,Other(certifications),Already Resigned,Currently Are You Working,Do You Have Past Work Experience?,Highest Degree,Looking For a Job Change,Notice Period,Other(Highest Degree),Current/ Previous Company Name,Current/ Previous CTC,Current/ Previous Job Profiles,Other(Degree University),Other(Degree),Other(Master's University),Other(preferred location),Preferred Location,Do You Have Aadhar Card?,Native,Did You Fail and then clear the subject in Degree,Did You Fail and then clear the subject in Master Degree,Have any existing backlogs in Degree?,Have any existing backlogs in Master's Degree?,Have you got year gap in Degree?,Have you got year gap in Master Degree?,Batch,Payment Print/Display,Payment comments
0,SSLC,Diploma,NaN,regular,Other,OXFORD POLYTECHNIC,Civil,NaN,NaN,NaN,BE,Regular,Bangalore Institute of Technology,NaN,Visveshvariah Technological University (VTU),1BI14CV418,Civil,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,yes,NaN,NaN,NaN,NaN,NaN,NaN,Immediate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bangalore,yes,NaN,no,NaN,no,NaN,no,NaN,NaN,NaN,NaN
1,SSLC,PUC/ 12th,Regular,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BSC,Regular,Other,S C S College,UTKAL university,12345,Computer Science(CS),NaN,yes,MCA,Regular,NaN,Other,Krupajal computer Academy,Computer Science,NaN,Other,12345,NaN,yes,no,NaN,NaN,NaN,NaN,NaN,NaN,Immediate,NaN,NaN,NaN,NaN,NaN,NaN,BPUT,NaN,Bangalore,yes,NaN,no,no,no,no,no,no,QCDM2,NaN,NaN
2,SSLC,PUC/ 12th,Regular,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BE,Regular,Shirdi Sai Engineering College,NaN,Visveshvariah Technological University (VTU),1SB08CS088,Computer Science(CS),NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,NaN,NaN,NaN,NaN,NaN,NaN,Immediate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bangalore,yes,NaN,yes,NaN,no,NaN,no,NaN,"QSSW2,QPEW1","11900 - 07-01-2018, 2300 - 11-02-2018",(201802QSP0098) Shabareesh Kumar R with ID:108...
3,SSLC,PUC/ 12th,Regular,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BE,Regular,Acharya Institute of Technology,NaN,Visveshvariah Technological University (VTU),12345,Information Technology,NaN,yes,M.Tech,Regular,NaN,Other,Adarch college,Information Technology,NaN,Other,12345,NaN,yes,yes,NaN,NaN,NaN,NaN,NaN,NaN,Immediate,NaN,NaN,NaN,NaN,NaN,NaN,Mysore university,NaN,Bangalore,yes,NaN,no,no,no,no,no,no,"QCSA2,QSCW1",11900 - 20-01-2018,(201801QSP0379) Monima Gogoi with ID:108729 ha...
4,SSLC,PUC/ 12th,Regular,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BE,Regular,Other,MAHAKALA INSTI OF TECH,Rajiv Gandhi Proudyogiki Vishwavidyalaya (R G ...,0704ME131056,Mechanical(ME),NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,NaN,NaN,NaN,NaN,NaN,NaN,Immediate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INDORE,"Bangalore,Chennai,Hyderabad,Kerala,Pune,Mumbai...",yes,NaN,yes,NaN,no,NaN,no,NaN,"QTGW1,QCCE2","22950 - 09-01-2018, Target for Apti is 0/-",(201801QSP0264) Mohit Singh Chauhan with ID:10...

In [13]:
QSP_1[QSP_1.isnull().any(axis=1)].head()[num_cols]
# QSP_1[num_cols].head() # or

,10th Aggregate,10th Year of Pass out,12th/Diploma/ITI Year of Pass out,12th/Diploma/ITI-Aggregate,Degree Year of Pass out,Degree Aggregate,Master's Degree Year of Pass out,Master Degree Aggregate,How Many Months of Gap You Have?,Target_fees
0,50.00,2009.0,2013.0,76.77,2017.0,69.67,NaN,NaN,NaN,23950.0
1,72.00,2006.0,2008.0,46.00,2011.0,56.00,2015.0,72.0,NaN,23950.0
2,84.32,2006.0,2008.0,70.00,2012.0,68.00,NaN,NaN,NaN,11900.0
3,80.00,2002.0,2004.0,56.00,2008.0,65.00,2011.0,77.0,NaN,11900.0
4,84.00,2011.0,2013.0,70.60,2017.0,65.60,NaN,NaN,NaN,22950.0

## Filling NaN values in Object cols with Data Not Available

In [14]:
QSP_1[obj_cols] = QSP_1[obj_cols].fillna('Data Not Available')

In [15]:
QSP_1[obj_cols].head()

,10th Board,12th Board,12th Course Type,Diploma Course Type,Diploma College,Other(Diploma College),Diploma Stream,Other(Diploma Stream),Diploma University,Other(Diploma University),Degree,Degree Course Type,Degree College Name,Other(Degree College),Degree University,Degree University Registration No,Stream in Degree,Other(Degree Stream),Have you done your Master's Degree?,Master's Degree,Master's Degree Course Type,Other(Master's degree),Master Degree College Name,Other(Master's College),Master's Degree Stream,Other(Master's Stream),Master's Degree University,Master's Degree University Registration No,Certifications,Do You Have Pan Card?,Do You Have Passport?,Other(certifications),Already Resigned,Currently Are You Working,Do You Have Past Work Experience?,Highest Degree,Looking For a Job Change,Notice Period,Other(Highest Degree),Current/ Previous Company Name,Current/ Previous CTC,Current/ Previous Job Profiles,Other(Degree University),Other(Degree),Other(Master's University),Other(preferred location),Preferred Location,Do You Have Aadhar Card?,Native,Did You Fail and then clear the subject in Degree,Did You Fail and then clear the subject in Master Degree,Have any existing backlogs in Degree?,Have any existing backlogs in Master's Degree?,Have you got year gap in Degree?,Have you got year gap in Master Degree?,Batch,Payment Print/Display,Payment comments
0,SSLC,Diploma,Data Not Available,regular,Other,OXFORD POLYTECHNIC,Civil,Data Not Available,Data Not Available,Data Not Available,BE,Regular,Bangalore Institute of Technology,Data Not Available,Visveshvariah Technological University (VTU),1BI14CV418,Civil,Data Not Available,no,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,no,yes,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Immediate,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Bangalore,yes,Data Not Available,no,Data Not Available,no,Data Not Available,no,Data Not Available,Data Not Available,Data Not Available,Data Not Available
1,SSLC,PUC/ 12th,Regular,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,BSC,Regular,Other,S C S College,UTKAL university,12345,Computer Science(CS),Data Not Available,yes,MCA,Regular,Data Not Available,Other,Krupajal computer Academy,Computer Science,Data Not Available,Other,12345,Data Not Available,yes,no,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Immediate,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,BPUT,Data Not Available,Bangalore,yes,Data Not Available,no,no,no,no,no,no,QCDM2,Data Not Available,Data Not Available
2,SSLC,PUC/ 12th,Regular,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,BE,Regular,Shirdi Sai Engineering College,Data Not Available,Visveshvariah Technological University (VTU),1SB08CS088,Computer Science(CS),Data Not Available,no,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,yes,yes,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Immediate,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Bangalore,yes,Data Not Available,yes,Data Not Available,no,Data Not Available,no,Data Not Available,"QSSW2,QPEW1","11900 - 07-01-2018, 2300 - 11-02-2018",(201802QSP0098) Shabareesh Kumar R with ID:108...
3,SSLC,PUC/ 12th,Regular,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,BE,Regular,Acharya Institute of Technology,Data Not Available,Visveshvariah Technological University (VTU),12345,Information Technology,Data Not Available,yes,M.Tech,Regular,Data Not Available,Other,Adarch college,Information Technology,Data Not Available,Other,12345,Data Not Available,yes,yes,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Immediate,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Mysore university,Data Not Available,Bangalore,yes,Data Not Available,no,no,no,no,no,no,"QCSA2,QSCW1",11900 - 20-01-2018,(201801QSP0379) Monima Gogoi with ID:108729 ha...
4,SSLC,PUC/ 12th,Regular,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,BE,Regular,Other,MAHAKALA INSTI OF TECH,Rajiv Gandhi Proudyogiki Vishwavidyalaya (R G ...,0704ME131056,Mechanical(ME),Data Not Available,no,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,yes,yes,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Immediate,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,INDORE,"Bangalore,Chennai,Hyderabad,Kerala,Pune,Mumbai...",yes,Data Not Available,yes,Data Not Available,no,Data Not Available,no,Data Not Available,"QTGW1,QCCE2","22950 - 09-01-2018, Target for Apti is 0/-",(201801QSP0264) Mohit Singh Chauhan with ID:10...

In [16]:
QSP_1[num_cols]

,10th Aggregate,10th Year of Pass out,12th/Diploma/ITI Year of Pass out,12th/Diploma/ITI-Aggregate,Degree Year of Pass out,Degree Aggregate,Master's Degree Year of Pass out,Master Degree Aggregate,How Many Months of Gap You Have?,Target_fees
0,50.00,2009.0,2013.0,76.77,2017.0,69.67,NaN,NaN,NaN,23950.0
1,72.00,2006.0,2008.0,46.00,2011.0,56.00,2015.0,72.0,NaN,23950.0
2,84.32,2006.0,2008.0,70.00,2012.0,68.00,NaN,NaN,NaN,11900.0
3,80.00,2002.0,2004.0,56.00,2008.0,65.00,2011.0,77.0,NaN,11900.0
4,84.00,2011.0,2013.0,70.60,2017.0,65.60,NaN,NaN,NaN,22950.0
...,...,...,...,...,...,...,...,...,...,...
3994,NaN,NaN,NaN,NaN,2019.0,NaN,NaN,NaN,6.0,22950.0
3995,84.00,2008.0,2010.0,72.00,2016.0,70.00,2016.0,70.0,NaN,11900.0
3996,81.60,2012.0,2014.0,78.60,2018.0,67.82,NaN,NaN,NaN,23950.0
3997,67.68,2010.0,2015.0,72.29,2018.0,60.00,NaN,NaN,NaN,23950.0
3998,80.15,2014.0,2016.0,87.15,2019.0,80.15,NaN,NaN,NaN,17950.0

In [17]:
QSP_1[['10th Aggregate','12th/Diploma/ITI-Aggregate','Degree Aggregate','Master Degree Aggregate']]

,10th Aggregate,12th/Diploma/ITI-Aggregate,Degree Aggregate,Master Degree Aggregate
0,50.00,76.77,69.67,NaN
1,72.00,46.00,56.00,72.0
2,84.32,70.00,68.00,NaN
3,80.00,56.00,65.00,77.0
4,84.00,70.60,65.60,NaN
...,...,...,...,...
3994,NaN,NaN,NaN,NaN
3995,84.00,72.00,70.00,70.0
3996,81.60,78.60,67.82,NaN
3997,67.68,72.29,60.00,NaN
3998,80.15,87.15,80.15,NaN

In [18]:
QSP_1[['10th Year of Pass out','12th/Diploma/ITI Year of Pass out','Degree Year of Pass out',"Master's Degree Year of Pass out"]]

,10th Year of Pass out,12th/Diploma/ITI Year of Pass out,Degree Year of Pass out,Master's Degree Year of Pass out
0,2009.0,2013.0,2017.0,NaN
1,2006.0,2008.0,2011.0,2015.0
2,2006.0,2008.0,2012.0,NaN
3,2002.0,2004.0,2008.0,2011.0
4,2011.0,2013.0,2017.0,NaN
...,...,...,...,...
3994,NaN,NaN,2019.0,NaN
3995,2008.0,2010.0,2016.0,2016.0
3996,2012.0,2014.0,2018.0,NaN
3997,2010.0,2015.0,2018.0,NaN
3998,2014.0,2016.0,2019.0,NaN

In [19]:
QSP_v1 = QSP_1.copy()

In [20]:
for i in num_cols:
    QSP_v1[i+str('_object')]=QSP_v1[i]

In [21]:
QSP_v1.shape

(3999, 92)

In [22]:
QSP_1.shape

(3999, 82)

In [23]:
QSP_v1.head()

,Nid,Name,Gender,Date of Birth,Fresher/Experience,10th Board,10th Aggregate,10th Year of Pass out,12th Board,12th Course Type,12th/Diploma/ITI Year of Pass out,12th/Diploma/ITI-Aggregate,Diploma Course Type,Diploma College,Other(Diploma College),Diploma Stream,Other(Diploma Stream),Diploma University,Other(Diploma University),Degree,Degree Course Type,Degree Year of Pass out,Degree College Name,Other(Degree College),Degree University,Degree University Registration No,Degree Aggregate,Stream in Degree,Other(Degree Stream),Have you done your Master's Degree?,Master's Degree,Master's Degree Course Type,Other(Master's degree),Master's Degree Year of Pass out,Master Degree Aggregate,Master Degree College Name,Other(Master's College),Master's Degree Stream,Other(Master's Stream),Master's Degree University,Master's Degree University Registration No,Branch Enquired,Certifications,Course(s),Do You Have Pan Card?,Do You Have Passport?,Other(certifications),Ready to Relocate,Already Resigned,Currently Are You Working,Do You Have Past Work Experience?,Highest Degree,How Many Months of Gap You Have?,Looking For a Job Change,Notice Period,Other(Highest Degree),Current/ Previous Company Name,Current/ Previous CTC,Current/ Previous Job Profiles,Balance_Fees,Other(Degree University),Other(Degree),Other(Master's University),Other(preferred location),Target_fees,Preferred Location,Photo,UID,Do You Have Aadhar Card?,Native,State,City,Did You Fail and then clear the subject in Degree,Did You Fail and then clear the subject in Master Degree,Have any existing backlogs in Degree?,Have any existing backlogs in Master's Degree?,Have you got year gap in Degree?,Have you got year gap in Master Degree?,Batch,Payment Print/Display,Payment comments,Post date,10th Aggregate_object,10th Year of Pass out_object,12th/Diploma/ITI Year of Pass out_object,12th/Diploma/ITI-Aggregate_object,Degree Year of Pass out_object,Degree Aggregate_object,Master's Degree Year of Pass out_object,Master Degree Aggregate_object,How Many Months of Gap You Have?_object,Target_fees_object
0,108714,M S Ramasubramanya,male,11/05/1993,Fresher,SSLC,50.00,2009.0,Diploma,Data Not Available,2013.0,76.77,regular,Other,OXFORD POLYTECHNIC,Civil,Data Not Available,Data Not Available,Data Not Available,BE,Regular,2017.0,Bangalore Institute of Technology,Data Not Available,Visveshvariah Technological University (VTU),1BI14CV418,69.67,Civil,Data Not Available,no,Data Not Available,Data Not Available,Data Not Available,NaN,NaN,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,QSP-Basavanagudi,Data Not Available,Classic Selenium,no,yes,Data Not Available,yes,Data Not Available,Data Not Available,Data Not Available,Data Not Available,NaN,Data Not Available,Immediate,Data Not Available,Data Not Available,Data Not Available,Data Not Available,23950,Data Not Available,Data Not Available,Data Not Available,Data Not Available,23950.0,Bangalore,http://192.168.1.199/sites/default/files/photo...,502D02199000,yes,Data Not Available,Karnataka,BANGALORE,no,Data Not Available,no,Data Not Available,no,Data Not Available,Data Not Available,Data Not Available,Data Not Available,01/01/2018,50.00,2009.0,2013.0,76.77,2017.0,69.67,NaN,NaN,NaN,23950.0
1,108715,Satya prakash sahoo,male,26/06/1991,Fresher,SSLC,72.00,2006.0,PUC/ 12th,Regular,2008.0,46.00,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,BSC,Regular,2011.0,Other,S C S College,UTKAL university,12345,56.00,Computer Science(CS),Data Not Available,yes,MCA,Regular,Data Not Available,2015.0,72.0,Other,Krupajal computer Academy,Computer Science,Data Not Available,Other,12345,QSP-Basavanagudi,Data Not Available,Classic Selenium,yes,no,Data Not Available,yes,Data Not Available,Data Not Available,Data Not Available,Data Not Available,NaN,Data Not Available,Immediate,Data Not Available,Data Not Available,Data Not Available,Data Not Available,23950,Data Not Available,Data Not Available,BPUT,Data Not Available,23950.0,Bangalore,http://192.168.1.199/sites/default/files/photo...,108B08199000,yes,Data Not Available,Karnataka,Bangalore,no,no,no,no,no,no,QCDM2,Data Not Available,Data Not Available,01/01/2018,72.00,2006.0,2008.0,46.00,2011.0,56.00,2015.0,72.0,NaN,23950.0
2,108727,Shabareesh Kumar R,male,09/01/1991,Fresher,SSLC,84.32,2006.0,PUC/ 12th,Regular,2008.0,70.00,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,BE,Regular,2012.0,Shirdi Sai Engineering College,Data Not Available,Visveshvariah Technological University (VTU),1SB08CS088,68.00,Computer Science(CS),Data Not Available,no,Data Not Available,Data Not Available,Data Not Available,NaN,NaN,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,QSP-Basavanagudi,Data Not Available,"Selenium Expert, Project",yes,yes,Data Not Available,yes,Data Not Available,Data Not Available,Data Not Available,Data Not Available,NaN,Data Not Available,Immediate,Data Not Available,Data Not Available,Data Not Available,Data Not Available,0,Data Not Available,Data Not Available,Data Not Available,Data Not Available,11900.0,Bangalore,http://192.168.1.199/sites/default/files/photo...,D0F70D199000,yes,Data Not Available,Karnataka,BANGALORE,yes,Data Not Available,no,Data Not Available,no,Data Not Available,"QSSW2,QPEW1","11900 - 07-01-2018, 2300 - 11-02-2018",(201802QSP0098) Shabareesh Kumar R with ID:108...,02/01/2018,84.32,2006.0,2008.0,70.00,2012.0,68.00,NaN,NaN,NaN,11900.0
3,108729,Monima Gogoi,female,21/01/1986,Fresher,SSLC,80.00,2002.0,PUC/ 12th,Regular,2004.0,56.00,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,BE,Regular,2008.0,Acharya Institute of Technology,Data Not Available,Visveshvariah Technological University (VTU),12345,65.00,Information Technology,Data Not Available,yes,M.Tech,Regular,Data Not Available,2011.0,77.0,Other,Adarch college,Information Technology,Data Not Available,Other,12345,QSP-Basavanagudi,Data Not Available,Selenium Expert,yes,yes,Data Not Available,yes,Data Not Available,Data Not Available,Data Not Available,Data Not Available,NaN,Data Not Available,Immediate,Data Not Available,Data Not Available,Data Not Available,Data Not Available,0,Data Not Available,Data Not Available,Mysore university,Data Not Available,11900.0,Bangalore,http://192.168.1.199/sites/default/files/photo...,715199000,yes,Data Not Available,Assam,Tinsukia,no,no,no,no,no,no,"QCSA2,QSCW1",11900 - 20-01-2018,(201801QSP0379) Monima Gogoi with ID:108729 ha...,02/01/2018,80.00,2002.0,2004.0,56.00,2008.0,65.00,2011.0,77.0,NaN,11900.0
4,108733,Mohit Singh Chauhan,male,30/07/1995,Fresher,SSLC,84.00,2011.0,PUC/ 12th,Regular,2013.0,70.60,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,BE,Regular,2017.0,Other,MAHAKALA INSTI OF TECH,Rajiv Gandhi Proudyogiki Vishwavidyalaya (R G ...,0704ME131056,65.60,Mechanical(ME),Data Not Available,no,Data Not Available,Data Not Available,Data Not Available,NaN,NaN,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,QSP-Basavanagudi,Data Not Available,"Classic Selenium, Aptitude, Technical Aptitude",yes,yes,Data Not Available,yes,Data Not Available,Data Not Available,Data Not Available,Data Not Available,NaN,Data Not Available,Immediate,Data Not Available,Data Not Available,Data Not Available,Data Not Available,0,Data Not Available,Data Not Available,Data Not Available,INDORE,22950.0,"Bangalore,Chennai,Hyderabad,Kerala,Pune,Mumbai...",http://192.168.1.199/sites/default/files/photo...,86A57A2B9000,yes,Data Not Available,Karnataka,BANGALORE,yes,Data Not Available,no,Data Not Available,no,Data Not Available,"QTGW1,QCCE2","22950 - 09-01-2018, Target for Apti is 0/-",(201801QSP0264) Mohit Singh Chauhan with ID:10...,02/01/2018,84.00,2011.0,2013.0,70.60,2017.0,65.60,NaN,NaN,NaN,22950.0

In [24]:
QSP_v1[num_cols] = QSP_v1[num_cols].astype('object')

In [25]:
QSP_v1[num_cols].dtypes

10th Aggregate                       object
10th Year of Pass out                object
12th/Diploma/ITI Year of Pass out    object
12th/Diploma/ITI-Aggregate           object
Degree Year of Pass out              object
Degree Aggregate                     object
Master's Degree Year of Pass out     object
Master Degree Aggregate              object
How Many Months of Gap You Have?     object
Target_fees                          object
dtype: object

## Filling object converted cols with Data Not Available.

In [26]:
num_cols_obj = []
for i in num_cols:
    num_cols_obj.append(i+str('_object'))

In [27]:
num_cols_obj

['10th Aggregate_object',
 '10th Year of Pass out_object',
 '12th/Diploma/ITI Year of Pass out_object',
 '12th/Diploma/ITI-Aggregate_object',
 'Degree Year of Pass out_object',
 'Degree Aggregate_object',
 "Master's Degree Year of Pass out_object",
 'Master Degree Aggregate_object',
 'How Many Months of Gap You Have?_object',
 'Target_fees_object']

In [28]:
QSP_v1[num_cols_obj] = QSP_v1[num_cols_obj].fillna('Data Not Available')

In [29]:
QSP_v1[num_cols] = QSP_v1[num_cols].fillna(0)

In [30]:
QSP_v1.isnull().sum().sum()

0

In [31]:
QSP_v1['City'].value_counts()

Bangalore            1340
BANGALORE             227
Mysore                 58
Mandya                 41
bangalore              39
                     ...
BELGAUM                 1
BANGALORE- 560079       1
Ichalkaranji            1
OOTY                    1
Kalakada                1
Name: City, Length: 1225, dtype: int64

In [32]:
QSP_v1 = QSP_v1.apply(lambda x: x.astype(str).str.lower())

In [33]:
QSP_v1['City'].value_counts()

bangalore        1606
mysore             76
mandya             57
hassan             44
ballari            40
                 ...
nagpur-440013       1
shimoga             1
dehradun            1
puttur,d.k          1
shidlagatta         1
Name: City, Length: 1066, dtype: int64

In [34]:
#pp.ProfileReport(QSP_v1)

In [35]:
QSP_v1.shape

(3999, 92)

In [36]:
QSP_v1.head()

,Nid,Name,Gender,Date of Birth,Fresher/Experience,10th Board,10th Aggregate,10th Year of Pass out,12th Board,12th Course Type,12th/Diploma/ITI Year of Pass out,12th/Diploma/ITI-Aggregate,Diploma Course Type,Diploma College,Other(Diploma College),Diploma Stream,Other(Diploma Stream),Diploma University,Other(Diploma University),Degree,Degree Course Type,Degree Year of Pass out,Degree College Name,Other(Degree College),Degree University,Degree University Registration No,Degree Aggregate,Stream in Degree,Other(Degree Stream),Have you done your Master's Degree?,Master's Degree,Master's Degree Course Type,Other(Master's degree),Master's Degree Year of Pass out,Master Degree Aggregate,Master Degree College Name,Other(Master's College),Master's Degree Stream,Other(Master's Stream),Master's Degree University,Master's Degree University Registration No,Branch Enquired,Certifications,Course(s),Do You Have Pan Card?,Do You Have Passport?,Other(certifications),Ready to Relocate,Already Resigned,Currently Are You Working,Do You Have Past Work Experience?,Highest Degree,How Many Months of Gap You Have?,Looking For a Job Change,Notice Period,Other(Highest Degree),Current/ Previous Company Name,Current/ Previous CTC,Current/ Previous Job Profiles,Balance_Fees,Other(Degree University),Other(Degree),Other(Master's University),Other(preferred location),Target_fees,Preferred Location,Photo,UID,Do You Have Aadhar Card?,Native,State,City,Did You Fail and then clear the subject in Degree,Did You Fail and then clear the subject in Master Degree,Have any existing backlogs in Degree?,Have any existing backlogs in Master's Degree?,Have you got year gap in Degree?,Have you got year gap in Master Degree?,Batch,Payment Print/Display,Payment comments,Post date,10th Aggregate_object,10th Year of Pass out_object,12th/Diploma/ITI Year of Pass out_object,12th/Diploma/ITI-Aggregate_object,Degree Year of Pass out_object,Degree Aggregate_object,Master's Degree Year of Pass out_object,Master Degree Aggregate_object,How Many Months of Gap You Have?_object,Target_fees_object
0,108714,m s ramasubramanya,male,11/05/1993,fresher,sslc,50.0,2009.0,diploma,data not available,2013.0,76.77,regular,other,oxford polytechnic,civil,data not available,data not available,data not available,be,regular,2017.0,bangalore institute of technology,data not available,visveshvariah technological university (vtu),1bi14cv418,69.67,civil,data not available,no,data not available,data not available,data not available,0.0,0.0,data not available,data not available,data not available,data not available,data not available,data not available,qsp-basavanagudi,data not available,classic selenium,no,yes,data not available,yes,data not available,data not available,data not available,data not available,0.0,data not available,immediate,data not available,data not available,data not available,data not available,23950,data not available,data not available,data not available,data not available,23950.0,bangalore,http://192.168.1.199/sites/default/files/photo...,502d02199000,yes,data not available,karnataka,bangalore,no,data not available,no,data not available,no,data not available,data not available,data not available,data not available,01/01/2018,50.0,2009.0,2013.0,76.77,2017.0,69.67,data not available,data not available,data not available,23950.0
1,108715,satya prakash sahoo,male,26/06/1991,fresher,sslc,72.0,2006.0,puc/ 12th,regular,2008.0,46.0,data not available,data not available,data not available,data not available,data not available,data not available,data not available,bsc,regular,2011.0,other,s c s college,utkal university,12345,56.0,computer science(cs),data not available,yes,mca,regular,data not available,2015.0,72.0,other,krupajal computer academy,computer science,data not available,other,12345,qsp-basavanagudi,data not available,classic selenium,yes,no,data not available,yes,data not available,data not available,data not available,data not available,0.0,data not available,immediate,data not available,data not available,data not available,data not available,23950,data not available,data not available,bput,data not available,23950.0,bangalore,http://192.168.1.199/sites/default/files/photo...,108b08199000,yes,data not available,karnataka,bangalore,no,no,no,no,no,no,qcdm2,data not available,data not available,01/01/2018,72.0,2006.0,2008.0,46.0,2011.0,56.0,2015.0,72.0,data not available,23950.0
2,108727,shabareesh kumar r,male,09/01/1991,fresher,sslc,84.32,2006.0,puc/ 12th,regular,2008.0,70.0,data not available,data not available,data not available,data not available,data not available,data not available,data not available,be,regular,2012.0,shirdi sai engineering college,data not available,visveshvariah technological university (vtu),1sb08cs088,68.0,computer science(cs),data not available,no,data not available,data not available,data not available,0.0,0.0,data not available,data not available,data not available,data not available,data not available,data not available,qsp-basavanagudi,data not available,"selenium expert, project",yes,yes,data not available,yes,data not available,data not available,data not available,data not available,0.0,data not available,immediate,data not available,data not available,data not available,data not available,0,data not available,data not available,data not available,data not available,11900.0,bangalore,http://192.168.1.199/sites/default/files/photo...,d0f70d199000,yes,data not available,karnataka,bangalore,yes,data not available,no,data not available,no,data not available,"qssw2,qpew1","11900 - 07-01-2018, 2300 - 11-02-2018",(201802qsp0098) shabareesh kumar r with id:108...,02/01/2018,84.32,2006.0,2008.0,70.0,2012.0,68.0,data not available,data not available,data not available,11900.0
3,108729,monima gogoi,female,21/01/1986,fresher,sslc,80.0,2002.0,puc/ 12th,regular,2004.0,56.0,data not available,data not available,data not available,data not available,data not available,data not available,data not available,be,regular,2008.0,acharya institute of technology,data not available,visveshvariah technological university (vtu),12345,65.0,information technology,data not available,yes,m.tech,regular,data not available,2011.0,77.0,other,adarch college,information technology,data not available,other,12345,qsp-basavanagudi,data not available,selenium expert,yes,yes,data not available,yes,data not available,data not available,data not available,data not available,0.0,data not available,immediate,data not available,data not available,data not available,data not available,0,data not available,data not available,mysore university,data not available,11900.0,bangalore,http://192.168.1.199/sites/default/files/photo...,715199000,yes,data not available,assam,tinsukia,no,no,no,no,no,no,"qcsa2,qscw1",11900 - 20-01-2018,(201801qsp0379) monima gogoi with id:108729 ha...,02/01/2018,80.0,2002.0,2004.0,56.0,2008.0,65.0,2011.0,77.0,data not available,11900.0
4,108733,mohit singh chauhan,male,30/07/1995,fresher,sslc,84.0,2011.0,puc/ 12th,regular,2013.0,70.6,data not available,data not available,data not available,data not available,data not available,data not available,data not available,be,regular,2017.0,other,mahakala insti of tech,rajiv gandhi proudyogiki vishwavidyalaya (r g ...,0704me131056,65.6,mechanical(me),data not available,no,data not available,data not available,data not available,0.0,0.0,data not available,data not available,data not available,data not available,data not available,data not available,qsp-basavanagudi,data not available,"classic selenium, aptitude, technical aptitude",yes,yes,data not available,yes,data not available,data not available,data not available,data not available,0.0,data not available,immediate,data not available,data not available,data not available,data not available,0,data not available,data not available,data not available,indore,22950.0,"bangalore,chennai,hyderabad,kerala,pune,mumbai...",http://192.168.1.199/sites/default/files/photo...,86a57a2b9000,yes,data not available,karnataka,bangalore,yes,data not available,no,data not available,no,data not available,"qtgw1,qcce2","22950 - 09-01-2018, target for apti is 0/-",(201801qsp0264) mohit singh chauhan with id:10...,02/01/2018,84.0,2011.0,2013.0,70.6,2017.0,65.6,data not available,data not available,data not available,22950.0

In [37]:
QSP_v1['Preferred Location'].value_counts()

bangalore                                                  2713
bangalore,chennai,hyderabad                                 159
bangalore,hyderabad                                         153
data not available                                           99
bangalore,chennai                                            76
                                                           ...
bangalore,mysore,chennai,hyderabad,kerala,mumbai,delhi        1
mysore,chennai,hyderabad,kerala,pune,mumbai                   1
mysore,chennai,hyderabad,kerala,mumbai                        1
bangalore,hyderabad,pune,mumbai,delhi,gandhinagar,other       1
bangalore,mysore,chennai,pune                                 1
Name: Preferred Location, Length: 112, dtype: int64

In [38]:
Preferred_Location=QSP_v1['Preferred Location'].apply(lambda x: pd.Series(x.split(',')))
# QSP_v1['Preferred_Location1']=Preferred_Location[0]
# QSP_v1['Preferred_Location2']=Preferred_Location[1]
# movies.loc[pd.isnull(movies['genre_2']), ['genre_2']] = movies['genre_1']
# print(movies.genre_1)
# print(movies.genre_2)

In [39]:
Preferred_Location

,0,1,2,3,4,5,6,7,8
0,bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,bangalore,chennai,hyderabad,kerala,pune,mumbai,delhi,gandhinagar,other
...,...,...,...,...,...,...,...,...,...
3994,bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3995,bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3996,bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3997,bangalore,hyderabad,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3998,bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
for i in list(Preferred_Location.columns):
    print(i,'\n\n',Preferred_Location[i].value_counts(),'\n\n')

0

 bangalore             3887
data not available      99
mysore                   9
pune                     2
chennai                  2
Name: 0, dtype: int64


1

 chennai        528
hyderabad      345
pune           110
mysore         110
kerala          39
mumbai          24
delhi           20
other            5
gandhinagar      1
Name: 1, dtype: int64


2

 hyderabad      412
pune           163
mumbai          76
chennai         61
kerala          49
delhi           38
gandhinagar      5
other            2
Name: 2, dtype: int64


3

 pune           128
kerala         119
mumbai          91
hyderabad       56
delhi           48
gandhinagar      2
other            2
Name: 3, dtype: int64


4

 pune           85
mumbai         58
delhi          37
kerala         33
gandhinagar     4
Name: 4, dtype: int64


5

 mumbai         61
pune           29
delhi          26
gandhinagar     8
other           3
Name: 5, dtype: int64


6

 delhi          42
mumbai         28
gandhinagar     4
other           1
Name: 6, dtype: int64


7

 delhi          27
gandhinagar    18
Name: 7, dtype: int64


8

 gandhinagar    11
other           2
Name: 8, dtype: int64

In [41]:
Preferred_Location.isnull().sum()

0       0
1    2817
2    3193
3    3553
4    3782
5    3872
6    3924
7    3954
8    3986
dtype: int64

In [42]:
QSP_v1['City'].value_counts()

bangalore        1606
mysore             76
mandya             57
hassan             44
ballari            40
                 ...
nagpur-440013       1
shimoga             1
dehradun            1
puttur,d.k          1
shidlagatta         1
Name: City, Length: 1066, dtype: int64

In [43]:
QSP_v1['Preferred_Loc1'] = Preferred_Location[0]

In [44]:
Preferred_Location[0]

0       bangalore
1       bangalore
2       bangalore
3       bangalore
4       bangalore
          ...
3994    bangalore
3995    bangalore
3996    bangalore
3997    bangalore
3998    bangalore
Name: 0, Length: 3999, dtype: object

In [45]:
a=1
for i in range(len(Preferred_Location.columns)):
    QSP_v1['Preferred_Loc'+str(a)] = Preferred_Location[i]
    a += 1

In [46]:
for i in list(QSP_v1.columns):
    QSP_v1.loc[pd.isnull(QSP_v1[i]), [i]] = QSP_v1['Preferred_Loc1']

In [47]:
QSP_v1.head()

,Nid,Name,Gender,Date of Birth,Fresher/Experience,10th Board,10th Aggregate,10th Year of Pass out,12th Board,12th Course Type,12th/Diploma/ITI Year of Pass out,12th/Diploma/ITI-Aggregate,Diploma Course Type,Diploma College,Other(Diploma College),Diploma Stream,Other(Diploma Stream),Diploma University,Other(Diploma University),Degree,Degree Course Type,Degree Year of Pass out,Degree College Name,Other(Degree College),Degree University,Degree University Registration No,Degree Aggregate,Stream in Degree,Other(Degree Stream),Have you done your Master's Degree?,Master's Degree,Master's Degree Course Type,Other(Master's degree),Master's Degree Year of Pass out,Master Degree Aggregate,Master Degree College Name,Other(Master's College),Master's Degree Stream,Other(Master's Stream),Master's Degree University,Master's Degree University Registration No,Branch Enquired,Certifications,Course(s),Do You Have Pan Card?,Do You Have Passport?,Other(certifications),Ready to Relocate,Already Resigned,Currently Are You Working,Do You Have Past Work Experience?,Highest Degree,How Many Months of Gap You Have?,Looking For a Job Change,Notice Period,Other(Highest Degree),Current/ Previous Company Name,Current/ Previous CTC,Current/ Previous Job Profiles,Balance_Fees,Other(Degree University),Other(Degree),Other(Master's University),Other(preferred location),Target_fees,Preferred Location,Photo,UID,Do You Have Aadhar Card?,Native,State,City,Did You Fail and then clear the subject in Degree,Did You Fail and then clear the subject in Master Degree,Have any existing backlogs in Degree?,Have any existing backlogs in Master's Degree?,Have you got year gap in Degree?,Have you got year gap in Master Degree?,Batch,Payment Print/Display,Payment comments,Post date,10th Aggregate_object,10th Year of Pass out_object,12th/Diploma/ITI Year of Pass out_object,12th/Diploma/ITI-Aggregate_object,Degree Year of Pass out_object,Degree Aggregate_object,Master's Degree Year of Pass out_object,Master Degree Aggregate_object,How Many Months of Gap You Have?_object,Target_fees_object,Preferred_Loc1,Preferred_Loc2,Preferred_Loc3,Preferred_Loc4,Preferred_Loc5,Preferred_Loc6,Preferred_Loc7,Preferred_Loc8,Preferred_Loc9
0,108714,m s ramasubramanya,male,11/05/1993,fresher,sslc,50.0,2009.0,diploma,data not available,2013.0,76.77,regular,other,oxford polytechnic,civil,data not available,data not available,data not available,be,regular,2017.0,bangalore institute of technology,data not available,visveshvariah technological university (vtu),1bi14cv418,69.67,civil,data not available,no,data not available,data not available,data not available,0.0,0.0,data not available,data not available,data not available,data not available,data not available,data not available,qsp-basavanagudi,data not available,classic selenium,no,yes,data not available,yes,data not available,data not available,data not available,data not available,0.0,data not available,immediate,data not available,data not available,data not available,data not available,23950,data not available,data not available,data not available,data not available,23950.0,bangalore,http://192.168.1.199/sites/default/files/photo...,502d02199000,yes,data not available,karnataka,bangalore,no,data not available,no,data not available,no,data not available,data not available,data not available,data not available,01/01/2018,50.0,2009.0,2013.0,76.77,2017.0,69.67,data not available,data not available,data not available,23950.0,bangalore,bangalore,bangalore,bangalore,bangalore,bangalore,bangalore,bangalore,bangalore
1,108715,satya prakash sahoo,male,26/06/1991,fresher,sslc,72.0,2006.0,puc/ 12th,regular,2008.0,46.0,data not available,data not available,data not available,data not available,data not available,data not available,data not available,bsc,regular,2011.0,other,s c s college,utkal university,12345,56.0,computer science(cs),data not available,yes,mca,regular,data not available,2015.0,72.0,other,krupajal computer academy,computer science,data not available,other,12345,qsp-basavanagudi,data not available,classic selenium,yes,no,data not available,yes,data not available,data not available,data not available,data not available,0.0,data not available,immediate,data not available,data not available,data not available,data not available,23950,data not available,data not available,bput,data not available,23950.0,bangalore,http://192.168.1.199/sites/default/files/photo...,108b08199000,yes,data not available,karnataka,bangalore,no,no,no,no,no,no,qcdm2,data not available,data not available,01/01/2018,72.0,2006.0,2008.0,46.0,2011.0,56.0,2015.0,72.0,data not available,23950.0,bangalore,bangalore,bangalore,bangalore,bangalore,bangalore,bangalore,bangalore,bangalore
2,108727,shabareesh kumar r,male,09/01/1991,fresher,sslc,84.32,2006.0,puc/ 12th,regular,2008.0,70.0,data not available,data not available,data not available,data not available,data not available,data not available,data not available,be,regular,2012.0,shirdi sai engineering college,data not available,visveshvariah technological university (vtu),1sb08cs088,68.0,computer science(cs),data not available,no,data not available,data not available,data not available,0.0,0.0,data not available,data not available,data not available,data not available,data not available,data not available,qsp-basavanagudi,data not available,"selenium expert, project",yes,yes,data not available,yes,data not available,data not available,data not available,data not available,0.0,data not available,immediate,data not available,data not available,data not available,data not available,0,data not available,data not available,data not available,data not available,11900.0,bangalore,http://192.168.1.199/sites/default/files/photo...,d0f70d199000,yes,data not available,karnataka,bangalore,yes,data not available,no,data not available,no,data not available,"qssw2,qpew1","11900 - 07-01-2018, 2300 - 11-02-2018",(201802qsp0098) shabareesh kumar r with id:108...,02/01/2018,84.32,2006.0,2008.0,70.0,2012.0,68.0,data not available,data not available,data not available,11900.0,bangalore,bangalore,bangalore,bangalore,bangalore,bangalore,bangalore,bangalore,bangalore
3,108729,monima gogoi,female,21/01/1986,fresher,sslc,80.0,2002.0,puc/ 12th,regular,2004.0,56.0,data not available,data not available,data not available,data not available,data not available,data not available,data not available,be,regular,2008.0,acharya institute of technology,data not available,visveshvariah technological university (vtu),12345,65.0,information technology,data not available,yes,m.tech,regular,data not available,2011.0,77.0,other,adarch college,information technology,data not available,other,12345,qsp-basavanagudi,data not available,selenium expert,yes,yes,data not available,yes,data not available,data not available,data not available,data not available,0.0,data not available,immediate,data not available,data not available,data not available,data not available,0,data not available,data not available,mysore university,data not available,11900.0,bangalore,http://192.168.1.199/sites/default/files/photo...,715199000,yes,data not available,assam,tinsukia,no,no,no,no,no,no,"qcsa2,qscw1",11900 - 20-01-2018,(201801qsp0379) monima gogoi with id:108729 ha...,02/01/2018,80.0,2002.0,2004.0,56.0,2008.0,65.0,2011.0,77.0,data not available,11900.0,bangalore,bangalore,bangalore,bangalore,bangalore,bangalore,bangalore,bangalore,bangalore
4,108733,mohit singh chauhan,male,30/07/1995,fresher,sslc,84.0,2011.0,puc/ 12th,regular,2013.0,70.6,data not available,data not available,data not available,data not available,data not available,data not available,data not available,be,regular,2017.0,other,mahakala insti of tech,rajiv gandhi proudyogiki vishwavidyalaya (r g ...,0704me131056,65.6,mechanical(me),data not available,no,data not available,data not available,data not available,0.0,0.0,data not available,data not available,data not available,data not available,data not available,data not available,qsp-basavanagudi,data not available,"classic selenium, aptitude, technical aptitude",yes,yes,data not available,yes,data not available,data not available,data not available,data not available,0.0,data not available,immediate,data not available,data not available,data not available,data not available,0,data not available,data not available,data not available,indore,22950.0,"bangalore,chennai,hyderabad,kerala,pune,mumbai...",http://192.168.1.199/sites/default/files/photo...,86a57a2b9000,yes,data not available,karnataka,bangalore,yes,data not available,no,data not available,no,data not available,"qtgw1,qcce2","22950 - 09-01-2018, target for apti is 0/-",(201801qsp0264) mohit singh chauhan with id:10...,02/01/2018,84.0,2011.0,2013.0,70.6,2017.0,65.6,data not available,data not available,data not available,22950.0,bangalore,chennai,hyderabad,kerala,pune,mumbai,delhi,gandhinagar,other

In [48]:
QSP_v1[['Course(s)','Target_fees']]

                                              Course(s) Target_fees
0                                      classic selenium     23950.0
1                                      classic selenium     23950.0
2                              selenium expert, project     11900.0
3                                       selenium expert     11900.0
4        classic selenium, aptitude, technical aptitude     22950.0
...                                                 ...         ...
3994  classic selenium, aptitude, mobie package, mob...     22950.0
3995                                    selenium expert     11900.0
3996               classic selenium, aptitude, aptitude     23950.0
3997                                   classic selenium     23950.0
3998               classic selenium, aptitude, aptitude     17950.0

[3999 rows x 2 columns]

In [49]:
QSP_v1[['Course(s)','Target_fees']].duplicated(subset=None, keep='first')

0       False
1        True
2       False
3       False
4       False
        ...
3994     True
3995     True
3996     True
3997     True
3998    False
Length: 3999, dtype: bool

In [50]:
fees_of_courses = QSP_v1[['Course(s)','Target_fees']].drop_duplicates(keep='first')

In [51]:
fees_of_courses

                                              Course(s) Target_fees
0                                      classic selenium     23950.0
2                              selenium expert, project     11900.0
3                                       selenium expert     11900.0
4        classic selenium, aptitude, technical aptitude     22950.0
5                            classic selenium, aptitude     23950.0
...                                                 ...         ...
3962                         classic selenium, aptitude     27950.0
3975  classic selenium, mobie package, mobie package...     22950.0
3986                  classic selenium, aptitude, ++c,c     20950.0
3992           classic selenium, project, mobie package     23950.0
3998               classic selenium, aptitude, aptitude     17950.0

[757 rows x 2 columns]

In [52]:
fees_of_courses.sort_values('Target_fees',ascending=False)

                                              Course(s) Target_fees
171                  selenium expert, selenium project       9900.0
2986                                    selenium expert      9900.0
2966  selenium expert, technical aptitude, technical...      9900.0
2682  classic selenium, technical aptitude, technica...      9900.0
732                  selenium expert, selenium project       9800.0
...                                                 ...         ...
2366                                          load test         1.0
399                                              python         1.0
499                                    aptitude, python         1.0
2249  enterprise application development, ++c,c, apt...         1.0
2041                                   classic selenium         0.0

[757 rows x 2 columns]

In [53]:
fees_of_courses['Target_fees'] = pd.to_numeric(fees_of_courses['Target_fees'])

In [54]:
fees_of_courses['Target_fees'].max()

44900.0

In [55]:
QSP_v1.shape

(3999, 101)

In [56]:
fees_of_courses.sort_values('Target_fees',ascending=False)

                                              Course(s)  Target_fees
1113                                 python.dev, python      44900.0
81                             classic selenium, python      44900.0
3825                        selenium expert, python.dev      44900.0
3497                        load test, classic selenium      44750.0
3589  enterprise application development, python.dev...      42250.0
...                                                 ...          ...
2917     classic selenium, aptitude, technical aptitude          1.0
900                                    advance selenium          1.0
1600  classic selenium, aptitude, technical aptitude...          1.0
2033                         classic selenium, aptitude          1.0
2041                                   classic selenium          0.0

[757 rows x 2 columns]

In [60]:
list(QSP_v1['City'])

['bangalore',
 'bangalore',
 'bangalore',
 'tinsukia',
 'bangalore',
 'kolkata',
 'bangalore',
 'bangalore',
 'bangalore-560067',
 'chickmagalore',
 'bangalore-560062',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'channapatna',
 'akkalleot, ',
 'chickballapur',
 'bangalore',
 'bangalore-560085',
 'patna',
 'krishnagiri,',
 'bangalore',
 'ongole',
 'bangalore',
 'bangalore',
 'mysore-571107',
 'chhindwara',
 'bangarpet ',
 'bangalore-560068',
 'bangalore',
 'tanjavur',
 'bilaspur',
 'kadapa-516289',
 'bangalore-560078',
 'chhindwara',
 'bangalore',
 'bangalore-560026',
 'bangalore-560057',
 'bangalore',
 'chickmagalore',
 'bangalore-560029',
 'trichy',
 'vellore',
 'vellore',
 'gulbarga',
 'purnia',
 'bangalore',
 'parmakudi',
 'bangalore',
 'bangalore',
 'bangalore-560061',
 'bangalore-560061',
 'bangalore',
 'bangalore',
 'bangalore-560076',
 'mandya',
 'balasore',
 'bangalore',
 'bangalore',
 'haliyal',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore-560091',
 'bangalore-560004',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore-560070',
 'davangere',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'hassan - 573201',
 'trichy',
 'mangaluru',
 'tumkur',
 'kannur',
 'bangalore-560072',
 'bangalore',
 'mysore-570002',
 'bangalore',
 'bangalore',
 "b'lore",
 'new delhi',
 'bangalore-560062',
 'bangalore',
 'shahdol',
 'bangalore-560025',
 'bangalore-560027',
 'hosur',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'chitradurga',
 'bangalore',
 'bangalore-560040',
 'belagavi',
 'bangalore',
 'bangalore',
 'shivapuri',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'dehradun ',
 'bangalore',
 'bangalore',
 'bangalore-560078',
 'sitamarhi ',
 'bangalore',
 'bangalore',
 'bangalore',
 'kasaragud',
 'mangalore-575006',
 'erode',
 'harihar',
 'bangalore',
 'bangalore',
 'mandya',
 'bangalore',
 'bangalore',
 'ballary',
 'bangalore',
 'shimoga',
 'bangalore',
 'haveri',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'gulbarga',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'mysore',
 'bangalore',
 'bangalore-560085',
 'bangalore-560085',
 'bangalore',
 'mandya',
 'kundapura ',
 'bangalore',
 'bangalore',
 'vijayapur',
 'chitradurga',
 'bangalore',
 'bangalore',
 'samastipur',
 'bijapur',
 'sirohi',
 'hassan',
 'bangalore',
 'bangalore',
 'mandya-571401',
 'mandya-571401',
 'sirohi',
 'bangalore-560050',
 'bangalore',
 'bangalore-560023',
 'bangalore-560023',
 'bangalore',
 'bangalore-560050',
 'bangalore',
 'bangalore-560041',
 'bangalore-560041',
 'hindupur',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'ramanagaram',
 'bangalore',
 'bangalore',
 'mysore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'hassan',
 'bangalore',
 'bangalore',
 'bangalore',
 'davangere',
 'bangalore',
 'bangalore',
 'bangalore-560019',
 'bangalore',
 'bangalore  -560054',
 'bangalore-560085',
 'bangalore',
 'vellore',
 'hubli',
 'anantapur',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'surat',
 'bangalore',
 'vellore',
 'bangalore',
 'bangalore ',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore-560062',
 'bangalore',
 'bangalore',
 'tumkur',
 'bangalore-560092',
 'bangalore',
 'bangalore',
 'chittoor',
 'bangalore',
 'bangalore',
 'mandya-5',
 'mandya-5',
 'chitradurga',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore   560073',
 'bangalore',
 'chickmangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'raichur',
 'bangalore',
 'vellore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'hubbli',
 'bangalore',
 'bangalore',
 'bangalore 560010',
 'bangalore-560022',
 'bangalore',
 'davanageri',
 'bangalore',
 'bangalore',
 'dharwad',
 'basawakalyan',
 'gulbarga',
 'bangalore',
 'bangalore',
 'bangalore',
 'addni',
 'chitoor',
 'bangalore',
 'bangalore',
 'mandya',
 'mandya',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'siliguri',
 'silchar',
 'gwalior',
 'davanagere',
 'tumkur',
 'bangalore',
 'bangalore',
 'raigarh',
 'indore',
 'indore',
 'varanasi',
 'saharsa',
 'bangalore',
 'saharsa',
 'muzaffarpur',
 'jharsuguda',
 'chittoor',
 'anantapur',
 'bangalore',
 'bhubaneswar',
 'baripada',
 'bailhongal',
 'bangalore',
 'hosur',
 'firozabad',
 'sambalpur',
 'kolkata',
 'kannur',
 'arrah',
 'murgod belgaum',
 'vijaypur',
 'bidar',
 'kozhikode',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'nalbari',
 'bangalore',
 'agarthala',
 'bangalore',
 'bangalore',
 'banglore',
 'bangalore',
 'madanapalle',
 'bidar',
 'bidar',
 'bangalore',
 'u p',
 'khordha ',
 'banglore-05',
 'mysore',
 'bangalore',
 'coimbatoure',
 'calicut',
 'alipurduar',
 'bangalore',
 'bangalore-560026',
 'bangalore',
 'haveri',
 'bangalore',
 'bangalore',
 'thanjure',
 'ananthpur',
 'berhampur',
 'kadapa',
 'salem',
 'shivamogga',
 'bangalore',
 'renukoot',
 'satna',
 'bangalore',
 'ranchi',
 'gokak',
 'kanakapura',
 'bhatkal ',
 'bangalore',
 'bangalore',
 'davanagere',
 'davangere',
 'belagavi',
 'belagavi',
 'tinsukia',
 'bangalore',
 'bangalore',
 'bangalore',
 'kurnool',
 'bangalore',
 'biswanath chariali',
 'jorhat ',
 'dhanbad',
 'chittore',
 'bangalore',
 'bangalore',
 'badami',
 'erode',
 'bangalore',
 'bangalore',
 'ramanagar',
 'tumkur',
 'bangalore',
 'bangalore',
 'kolkata',
 'chitradurga',
 'kotdwara',
 'bangalore',
 'bangalore',
 'bangalore-560078',
 'bangalore',
 'udupi',
 'bangalore',
 'bangalore',
 'chitradurga ',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'purnea',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'cuddalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore ',
 'bangalore',
 'vijayawada',
 'bangalore',
 'bilekahalli -bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore-560070',
 'kollegala',
 'bangalore',
 'bangalore',
 'bangalore',
 'jnnnagudh',
 'bangalore ',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'banglore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bhubaneshwar ',
 'bangalore',
 'bangalore',
 'jatni',
 'bangalore',
 'bangalore',
 'bidar',
 'kundapura',
 'mangaluru',
 'bangalore',
 'bangalore',
 'bangalore',
 'belgaum',
 'bangalore',
 'gokak',
 'bangalore',
 'bangalore',
 'jagalulr',
 'bangalore',
 "b'lore",
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'mandya',
 'bangalore',
 'bangalore',
 'mysore',
 'bangalore',
 'bangalore',
 'bangalore',
 'hospet ',
 'bangalore',
 'bangalore',
 'km doddi',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'shimogga ',
 'anantapuramu',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'banglaore ',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore-560040',
 'bangalore-560040',
 'bangalore-560070',
 'bangalore',
 'bangalore',
 'kollegala ',
 'bangalore',
 'kadaramandalagi',
 'bangalore',
 'chittoor-517590',
 'bangalore',
 'bangalore',
 'bangalore-560068',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'mysore',
 'bangalore',
 'vellore',
 'shivamoga',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'tripura',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangarjpet',
 'bangalore',
 'bangalore',
 'bangalore',
 'jamshedpur-831004',
 'bangalore',
 'ramanagar',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'chikmangalur',
 'siddapur',
 'katihar',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'lucknow ',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'patna',
 'bangalore',
 'kolkata ',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'vijayapur',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'mandya',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'davamgere',
 'dharwad',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'jodhpur',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'kuppam',
 'ichalkaranji',
 'bangalore-560102',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'coimbatore',
 'bangalore',
 'bangalore',
 'bangalore',
 'shimoga',
 'bangalore',
 'mysore',
 'bangalore',
 'bangalore',
 'shimoga',
 'bangalore',
 'bangalore',
 'bangalore',
 'villuparm',
 'gulbarga',
 'bangalore',
 'bangalore',
 'villupuram',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'mangalore',
 'mangalore',
 'mangalore',
 'bangalore',
 'bangalore',
 ' bhatapara',
 'thanjavur',
 'chamaraja nagar',
 'srinivaspura',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'chittoor',
 'chittoor',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'kottal',
 'bangalore',
 'bangalore',
 'bangalore',
 'chittoor',
 'bangalore',
 'kurnool',
 'bangalore',
 'bangalore',
 'mysore',
 'bangalore',
 'bangalore',
 'bangalore',
 'hassan',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'shimoga',
 'bangalore',
 'shimoga',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'doddaballapur',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'nagpur',
 'karwar',
 'bangalore',
 'melur',
 'nellore',
 'bangalore',
 'bangalore',
 'sirsi',
 'bangalore',
 'mysore',
 'bangalore-560050',
 'palani',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore   560079',
 'bangalore',
 'bangalore',
 'bangalore',
 'patna',
 'bangalore',
 'bangalore',
 'bangalore',
 'bhopal',
 'bangalore',
 'kolar',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'ambikapur ',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'gaya',
 'bangalore',
 'tiptur',
 'bangalore',
 'tumkur',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'udaipur',
 'tumkur',
 'bangalore',
 'javanagondana halli ',
 'bangalore',
 'dharwad',
 'chamarajanagar',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'belaguam-590001',
 'bangalore',
 'bangalore',
 'bangalore',
 'kolkota',
 'bangalore',
 'bangalore',
 'patna ',
 'davanegere',
 'chikkaballapur  563128',
 'ankola 581357',
 'kolar',
 'chithradurga',
 'chintamani  563125',
 'bangalore',
 'howrah ',
 'howrah ',
 'bangalore',
 'bangalore',
 'davangere',
 'bangalore-560079',
 'davangere',
 'mysore',
 'bangalore 560098',
 'bagalkot  587301',
 'bagalkot  587313',
 'bangalore',
 'bangalore-560078',
 'bangalore-560062',
 'bangalore',
 'bangalore',
 'bangalore ',
 'bangalore-560025',
 'bangalore',
 'bangalore',
 'hassan',
 'hassan',
 ' kottur-583134',
 'vijayapura',
 'udupi ',
 'bangalore',
 'bangalore-560019',
 'bangalore ',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'erode',
 'saligrama ',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'hydrabad ',
 'biharsharif',
 'bangalore',
 'gulbarga - 585102',
 'bangalore',
 ' ramanagaram ',
 ' ramanagaram ',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'ramanagaram',
 'bangalore',
 'bangalore',
 'bangalore',
 'chikkaballapura ',
 'jamshedpur',
 'bangalore',
 'mandya',
 'bangalore',
 'bangalore',
 'bangalore-560062',
 'belgum',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore-560099',
 'bangalore',
 'gulbarga ',
 'bangalore',
 'bangalore',
 'bangalore',
 'channapatna',
 'anatapur ',
 'bangalore',
 'bangalore',
 'vidisha',
 'bangalore',
 'anantapur',
 'arsikere-573103',
 'magadi ',
 'bangalore',
 'guntur ',
 'anantapur ',
 'bangalore',
 'bangalore-560023',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore-560053',
 'bangalore-560059',
 'bangalore',
 'k r pet',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'srirangapatana ',
 'bangalore',
 'karur',
 'bangalore',
 'bangalore-560061',
 'ootacamund',
 'shillong-793001',
 'bangalore',
 'bangalroe560040',
 'bangalore',
 'davanagere',
 'davanagere',
 'delhi',
 'bangalore',
 'nellore',
 'bangalore-560086',
 'sedam',
 'hassan-573220',
 'bellary',
 'bangalore',
 'dharwad',
 'guntur',
 'bangalore',
 'kadapa',
 'bangalore',
 'ananthapur',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'mahalingpur ',
 'tirupur - 641607',
 'bangalore',
 'bangalore',
 'bangalore',
 'ananatapur',
 'bangalore',
 'davanageri',
 'bijjapur',
 'bangalore',
 'moradabad-244001',
 'bangalore',
 'ranebennur',
 'malur_563139',
 'bangalore',
 'hassan',
 'raichur',
 'bangalore - 560098',
 'bangalore',
 'chittoor',
 'udupi ',
 'bangalore',
 'channapatna - 562160',
 'bangalore',
 'bangalore',
 'bhubaneswar-751006',
 'hindupur',
 'basavanagudi 560004',
 'patna',
 'patna',
 'bangalore',
 'bangalore',
 'bangalore-560050',
 'bangalore-560018',
 'bangalore',
 'ooty',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'salem',
 'bangalore',
 'bangalore',
 'hassan-573201',
 'kanakapura-562117',
 'durgapur',
 'bangalore',
 'gulbarga',
 'bangalore',
 'bangalore',
 'puttur-574313',
 'puttur-574202',
 'bangalore-560040',
 'sinasagar',
 'chamarajnagar',
 'pune',
 'mysore',
 'nellore',
 'anathapur',
 'bangalore',
 'bangalore',
 'belgum',
 'bangalore',
 'nagpur-440013',
 'gadag',
 'sirsi -581401',
 'bangalore',
 'bangalore-560098',
 'bangalore',
 'hassan-573201',
 'bangalore , 560079',
 ...]

In [87]:
import string
list(QSP_v1['City'].apply(lambda x: x.split()[0].translate({ord(c): None for c in string.whitespace}).split('-')[0]))

['bangalore',
 'bangalore',
 'bangalore',
 'tinsukia',
 'bangalore',
 'kolkata',
 'bangalore',
 'bangalore',
 'bangalore',
 'chickmagalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'channapatna',
 'akkalleot,',
 'chickballapur',
 'bangalore',
 'bangalore',
 'patna',
 'krishnagiri,',
 'bangalore',
 'ongole',
 'bangalore',
 'bangalore',
 'mysore',
 'chhindwara',
 'bangarpet',
 'bangalore',
 'bangalore',
 'tanjavur',
 'bilaspur',
 'kadapa',
 'bangalore',
 'chhindwara',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'chickmagalore',
 'bangalore',
 'trichy',
 'vellore',
 'vellore',
 'gulbarga',
 'purnia',
 'bangalore',
 'parmakudi',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'mandya',
 'balasore',
 'bangalore',
 'bangalore',
 'haliyal',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'davangere',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'hassan',
 'trichy',
 'mangaluru',
 'tumkur',
 'kannur',
 'bangalore',
 'bangalore',
 'mysore',
 'bangalore',
 'bangalore',
 "b'lore",
 'new',
 'bangalore',
 'bangalore',
 'shahdol',
 'bangalore',
 'bangalore',
 'hosur',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'chitradurga',
 'bangalore',
 'bangalore',
 'belagavi',
 'bangalore',
 'bangalore',
 'shivapuri',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'dehradun',
 'bangalore',
 'bangalore',
 'bangalore',
 'sitamarhi',
 'bangalore',
 'bangalore',
 'bangalore',
 'kasaragud',
 'mangalore',
 'erode',
 'harihar',
 'bangalore',
 'bangalore',
 'mandya',
 'bangalore',
 'bangalore',
 'ballary',
 'bangalore',
 'shimoga',
 'bangalore',
 'haveri',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'gulbarga',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'mysore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'mandya',
 'kundapura',
 'bangalore',
 'bangalore',
 'vijayapur',
 'chitradurga',
 'bangalore',
 'bangalore',
 'samastipur',
 'bijapur',
 'sirohi',
 'hassan',
 'bangalore',
 'bangalore',
 'mandya',
 'mandya',
 'sirohi',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'hindupur',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'ramanagaram',
 'bangalore',
 'bangalore',
 'mysore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'hassan',
 'bangalore',
 'bangalore',
 'bangalore',
 'davangere',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'vellore',
 'hubli',
 'anantapur',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'surat',
 'bangalore',
 'vellore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'tumkur',
 'bangalore',
 'bangalore',
 'bangalore',
 'chittoor',
 'bangalore',
 'bangalore',
 'mandya',
 'mandya',
 'chitradurga',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'chickmangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'raichur',
 'bangalore',
 'vellore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'hubbli',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'davanageri',
 'bangalore',
 'bangalore',
 'dharwad',
 'basawakalyan',
 'gulbarga',
 'bangalore',
 'bangalore',
 'bangalore',
 'addni',
 'chitoor',
 'bangalore',
 'bangalore',
 'mandya',
 'mandya',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'siliguri',
 'silchar',
 'gwalior',
 'davanagere',
 'tumkur',
 'bangalore',
 'bangalore',
 'raigarh',
 'indore',
 'indore',
 'varanasi',
 'saharsa',
 'bangalore',
 'saharsa',
 'muzaffarpur',
 'jharsuguda',
 'chittoor',
 'anantapur',
 'bangalore',
 'bhubaneswar',
 'baripada',
 'bailhongal',
 'bangalore',
 'hosur',
 'firozabad',
 'sambalpur',
 'kolkata',
 'kannur',
 'arrah',
 'murgod',
 'vijaypur',
 'bidar',
 'kozhikode',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'nalbari',
 'bangalore',
 'agarthala',
 'bangalore',
 'bangalore',
 'banglore',
 'bangalore',
 'madanapalle',
 'bidar',
 'bidar',
 'bangalore',
 'u',
 'khordha',
 'banglore',
 'mysore',
 'bangalore',
 'coimbatoure',
 'calicut',
 'alipurduar',
 'bangalore',
 'bangalore',
 'bangalore',
 'haveri',
 'bangalore',
 'bangalore',
 'thanjure',
 'ananthpur',
 'berhampur',
 'kadapa',
 'salem',
 'shivamogga',
 'bangalore',
 'renukoot',
 'satna',
 'bangalore',
 'ranchi',
 'gokak',
 'kanakapura',
 'bhatkal',
 'bangalore',
 'bangalore',
 'davanagere',
 'davangere',
 'belagavi',
 'belagavi',
 'tinsukia',
 'bangalore',
 'bangalore',
 'bangalore',
 'kurnool',
 'bangalore',
 'biswanath',
 'jorhat',
 'dhanbad',
 'chittore',
 'bangalore',
 'bangalore',
 'badami',
 'erode',
 'bangalore',
 'bangalore',
 'ramanagar',
 'tumkur',
 'bangalore',
 'bangalore',
 'kolkata',
 'chitradurga',
 'kotdwara',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'udupi',
 'bangalore',
 'bangalore',
 'chitradurga',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'purnea',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'cuddalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'vijayawada',
 'bangalore',
 'bilekahalli',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'kollegala',
 'bangalore',
 'bangalore',
 'bangalore',
 'jnnnagudh',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'banglore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bhubaneshwar',
 'bangalore',
 'bangalore',
 'jatni',
 'bangalore',
 'bangalore',
 'bidar',
 'kundapura',
 'mangaluru',
 'bangalore',
 'bangalore',
 'bangalore',
 'belgaum',
 'bangalore',
 'gokak',
 'bangalore',
 'bangalore',
 'jagalulr',
 'bangalore',
 "b'lore",
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'mandya',
 'bangalore',
 'bangalore',
 'mysore',
 'bangalore',
 'bangalore',
 'bangalore',
 'hospet',
 'bangalore',
 'bangalore',
 'km',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'shimogga',
 'anantapuramu',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'banglaore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'kollegala',
 'bangalore',
 'kadaramandalagi',
 'bangalore',
 'chittoor',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'mysore',
 'bangalore',
 'vellore',
 'shivamoga',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'tripura',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangarjpet',
 'bangalore',
 'bangalore',
 'bangalore',
 'jamshedpur',
 'bangalore',
 'ramanagar',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'chikmangalur',
 'siddapur',
 'katihar',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'lucknow',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'patna',
 'bangalore',
 'kolkata',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'vijayapur',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'mandya',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'davamgere',
 'dharwad',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'jodhpur',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'kuppam',
 'ichalkaranji',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'coimbatore',
 'bangalore',
 'bangalore',
 'bangalore',
 'shimoga',
 'bangalore',
 'mysore',
 'bangalore',
 'bangalore',
 'shimoga',
 'bangalore',
 'bangalore',
 'bangalore',
 'villuparm',
 'gulbarga',
 'bangalore',
 'bangalore',
 'villupuram',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'mangalore',
 'mangalore',
 'mangalore',
 'bangalore',
 'bangalore',
 'bhatapara',
 'thanjavur',
 'chamaraja',
 'srinivaspura',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'chittoor',
 'chittoor',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'kottal',
 'bangalore',
 'bangalore',
 'bangalore',
 'chittoor',
 'bangalore',
 'kurnool',
 'bangalore',
 'bangalore',
 'mysore',
 'bangalore',
 'bangalore',
 'bangalore',
 'hassan',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'shimoga',
 'bangalore',
 'shimoga',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'doddaballapur',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'nagpur',
 'karwar',
 'bangalore',
 'melur',
 'nellore',
 'bangalore',
 'bangalore',
 'sirsi',
 'bangalore',
 'mysore',
 'bangalore',
 'palani',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'patna',
 'bangalore',
 'bangalore',
 'bangalore',
 'bhopal',
 'bangalore',
 'kolar',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'ambikapur',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'gaya',
 'bangalore',
 'tiptur',
 'bangalore',
 'tumkur',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'udaipur',
 'tumkur',
 'bangalore',
 'javanagondana',
 'bangalore',
 'dharwad',
 'chamarajanagar',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'belaguam',
 'bangalore',
 'bangalore',
 'bangalore',
 'kolkota',
 'bangalore',
 'bangalore',
 'patna',
 'davanegere',
 'chikkaballapur',
 'ankola',
 'kolar',
 'chithradurga',
 'chintamani',
 'bangalore',
 'howrah',
 'howrah',
 'bangalore',
 'bangalore',
 'davangere',
 'bangalore',
 'davangere',
 'mysore',
 'bangalore',
 'bagalkot',
 'bagalkot',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'hassan',
 'hassan',
 'kottur',
 'vijayapura',
 'udupi',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'erode',
 'saligrama',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'hydrabad',
 'biharsharif',
 'bangalore',
 'gulbarga',
 'bangalore',
 'ramanagaram',
 'ramanagaram',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'ramanagaram',
 'bangalore',
 'bangalore',
 'bangalore',
 'chikkaballapura',
 'jamshedpur',
 'bangalore',
 'mandya',
 'bangalore',
 'bangalore',
 'bangalore',
 'belgum',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'gulbarga',
 'bangalore',
 'bangalore',
 'bangalore',
 'channapatna',
 'anatapur',
 'bangalore',
 'bangalore',
 'vidisha',
 'bangalore',
 'anantapur',
 'arsikere',
 'magadi',
 'bangalore',
 'guntur',
 'anantapur',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'k',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'srirangapatana',
 'bangalore',
 'karur',
 'bangalore',
 'bangalore',
 'ootacamund',
 'shillong',
 'bangalore',
 'bangalroe560040',
 'bangalore',
 'davanagere',
 'davanagere',
 'delhi',
 'bangalore',
 'nellore',
 'bangalore',
 'sedam',
 'hassan',
 'bellary',
 'bangalore',
 'dharwad',
 'guntur',
 'bangalore',
 'kadapa',
 'bangalore',
 'ananthapur',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'mahalingpur',
 'tirupur',
 'bangalore',
 'bangalore',
 'bangalore',
 'ananatapur',
 'bangalore',
 'davanageri',
 'bijjapur',
 'bangalore',
 'moradabad',
 'bangalore',
 'ranebennur',
 'malur_563139',
 'bangalore',
 'hassan',
 'raichur',
 'bangalore',
 'bangalore',
 'chittoor',
 'udupi',
 'bangalore',
 'channapatna',
 'bangalore',
 'bangalore',
 'bhubaneswar',
 'hindupur',
 'basavanagudi',
 'patna',
 'patna',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'ooty',
 'bangalore',
 'bangalore',
 'bangalore',
 'bangalore',
 'salem',
 'bangalore',
 'bangalore',
 'hassan',
 'kanakapura',
 'durgapur',
 'bangalore',
 'gulbarga',
 'bangalore',
 'bangalore',
 'puttur',
 'puttur',
 'bangalore',
 'sinasagar',
 'chamarajnagar',
 'pune',
 'mysore',
 'nellore',
 'anathapur',
 'bangalore',
 'bangalore',
 'belgum',
 'bangalore',
 'nagpur',
 'gadag',
 'sirsi',
 'bangalore',
 'bangalore',
 'bangalore',
 'hassan',
 'bangalore',
 ...]

In [88]:
QSP_v1['City'].apply(lambda x: x.split()[0].translate({ord(c): None for c in string.whitespace}).split('-')[0])

0       bangalore
1       bangalore
2       bangalore
3        tinsukia
4       bangalore
          ...
3994    bangalore
3995    bangalore
3996       tumkur
3997    bangalore
3998    bangalore
Name: City, Length: 3999, dtype: object